<form [formGroup]="policiesForm" (ngSubmit)="onSubmit()">
  <h1 class="font-bold font-cw text-cwGray text-28px34px pb-7">Policies</h1>
  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Is max stay less than 30 days?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.maxStayLessThanThirty == false || policiesForm.value.maxStayLessThanThirty == 'f' || policiesForm.value.maxStayLessThanThirty =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.maxStayLessThanThirty == true || policiesForm.value.maxStayLessThanThirty == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="maxStayLessThanThirty" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="maxStayLessThanThirty" (click)="checkBoxIsLessThan30Days(this)"
            id="maxStayLessThanThirty" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div *ngIf="policiesForm.value.maxStayLessThanThirty == true || policiesForm.value.maxStayLessThanThirty == 't'" class="grid grid-cols-1 pb-10 w-636">
    <div class="relative f-outline">
      <input type="number" formControlName="numberOfDaysMaxStay" id="numberOfDaysMaxStay" name="numberOfDaysMaxStay"
        placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwBadgeGray focus:outline-none" />
      <label for="numberOfDaysMaxStay" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        # of days MAX stay
      </label>
    </div>
  </div>
  <div class="grid grid-cols-2 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Open all year?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.openAllYear == false || policiesForm.value.openAllYear == 'f' || policiesForm.value.openAllYear =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.openAllYear == true || policiesForm.value.openAllYear == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="openAllYear" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input formControlName="openAllYear" type="checkbox" (click)="checkBoxOpenAllYear(this)" id="openAllYear"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div *ngIf="policiesForm.value.openAllYear == true || policiesForm.value.openAllYear == 't'" class="grid grid-cols-2 gap-6 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Are there limited facilities?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.areThereLimitedFacilities == false || policiesForm.value.areThereLimitedFacilities == 'f' || policiesForm.value.areThereLimitedFacilities =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.areThereLimitedFacilities == true || policiesForm.value.areThereLimitedFacilities == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="areThereLimitedFacilities" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="areThereLimitedFacilities" (click)="checkBoxLimitedFacilities(this)" id="areThereLimitedFacilities" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>

  <div *ngIf="(policiesForm.value.areThereLimitedFacilities == true || policiesForm.value.areThereLimitedFacilities == 't') && (policiesForm.value.openAllYear == true || policiesForm.value.openAllYear == 't')" class="flex flex-row col-span-2 pb-10 space-x-4">
    <div class="relative">
      <input (click)="limitedFacilitiesChecked('lfsLtdFacSummer')" class="hidden" id="lfsLtdFacSummer" type="radio"
        name="lfwLtdFac">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="lfsLtdFacSummer">
        <img *ngIf="policiesForm.value.lfsLtdFacSummer == true || policiesForm.value.lfsLtdFacSummer == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png" alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">In summer</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="limitedFacilitiesChecked('lfwLtdFacWinter')" class="hidden" id="lfwLtdFacWinter" type="radio"
        name="lfwLtdFac">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="lfwLtdFacWinter">
        <img *ngIf="policiesForm.value.lfwLtdFacWinter == true || policiesForm.value.lfwLtdFacWinter == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png" alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">In winter</p>
      </label>
    </div>
  </div>

  <div *ngIf="policiesForm.value.openAllYear == false || policiesForm.value.openAllYear == 'f'" class="grid grid-cols-1 pb-10 w-636">
    <h1 class="pb-4 font-bold font-cw text-cwGray text-24px">Season start date - Season end date</h1>
    <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' formControlName="season" >
    </ejs-daterangepicker>
  </div>
  <div class="grid grid-cols-2 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Age restrictions apply?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.ageRestrictions == false || policiesForm.value.ageRestrictions == 'f' || policiesForm.value.ageRestrictions =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.ageRestrictions == true || policiesForm.value.ageRestrictions == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="ageRestrictions" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="ageRestrictions"
            id="ageRestrictions" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-6 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Family camping?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.familyCamping == false || policiesForm.value.familyCamping == 'f' || policiesForm.value.familyCamping =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.familyCamping == true || policiesForm.value.familyCamping == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="familyCamping" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="familyCamping"
            id="familyCamping" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-6 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Allows tent campers?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.allowsTentCampers == false || policiesForm.value.allowsTentCampers == 'f' || policiesForm.value.allowsTentCampers =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.allowsTentCampers == true || policiesForm.value.allowsTentCampers == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="allowsTentCampers" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="allowsTentCampers" id="allowsTentCampers"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="flex">
    <h1 class="font-bold font-cw text-cwGray text-24px pb-11">Does NOT allow?</h1><span class="ml-4 "
      style="margin-top: 0px;">Select all that apply</span>
  </div>

  <div class="flex flex-row col-span-2 pb-10 space-x-4">
    <div class="relative">
      <input class="hidden" formControlName="doesNotAllowClassAMotorhomes" id="doesNotAllowClassAMotorhomes" type="checkbox" name="doesNotAllowClassAMotorhomes">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="doesNotAllowClassAMotorhomes">
        <img *ngIf="policiesForm.value.doesNotAllowClassAMotorhomes == true || policiesForm.value.doesNotAllowClassAMotorhomes == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">Class A motorhome</p>
      </label>
    </div>
    <div class="relative">
      <input class="hidden" formControlName="doesNotAllowClassBMotorhomes" id="doesNotAllowClassBMotorhomes" type="checkbox" name="doesNotAllowClassBMotorhomes">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="doesNotAllowClassBMotorhomes">
        <img *ngIf="policiesForm.value.doesNotAllowClassBMotorhomes == true || policiesForm.value.doesNotAllowClassBMotorhomes == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">Class B motorhome</p>
      </label>
    </div>
    <div class="relative">
      <input class="hidden" formControlName="doesNotAllowClassCMotorhomes" id="doesNotAllowClassCMotorhomes" type="checkbox" name="doesNotAllowClassCMotorhomes">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="doesNotAllowClassCMotorhomes">
        <img *ngIf="policiesForm.value.doesNotAllowClassCMotorhomes == true || policiesForm.value.doesNotAllowClassCMotorhomes == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">Class C motorhome</p>
      </label>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 mt-2 w-636">
    <div class="relative pb-4 f-outline">
      <input type="number" formControlName="rvAgeRestrictions" id="rvAgeRestrictions" name="rvAgeRestrictions"
        placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwBadgeGray focus:outline-none" />
      <label for="rvAgeRestrictions" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        RV age restrictions
      </label>
    </div>
  </div>
  <div class="flex mt-11">
    <h1 class="font-bold font-cw text-cwGray text-24px pb-11">Pets</h1>
  </div>
  <div class="grid grid-cols-2 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Are pets allowed?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.petsOk == false || policiesForm.value.petsOk == 'f' || policiesForm.value.petsOk =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.petsOk == true || policiesForm.value.petsOk == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="petsOk" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="petsOk" (click)="checkBoxPetsAllowed(this)" id="petsOk"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>

  <div *ngIf="policiesForm.value.petsOk == true || policiesForm.value.petsOk == 't'" class="grid grid-cols-2 w-636">
    <div class="">
      <p class="font-cw text-cwGray">Are there pet restrictions?</p>
    </div>
    <div class="flex items-center justify-end pr-2">
      <p *ngIf="policiesForm.value.petRestrictions == false || policiesForm.value.petRestrictions == 'f' || policiesForm.value.petRestrictions =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.petRestrictions == true || policiesForm.value.petRestrictions == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="petRestrictions" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="petRestrictions" (click)="checkBoxPetsRestrictions(this)" id="petRestrictions" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>

  <div *ngIf="policiesForm.value.petRestrictions == true || policiesForm.value.petRestrictions == 't'" class="flex flex-row col-span-2 mt-10 space-x-4">
    <div class="relative">
      <input (click)="optionChecked('1')" class="hidden" formControlName="size" id="size" type="checkbox" name="size">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="size">
        <img *ngIf="policiesForm.value.size == true || policiesForm.value.size == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png"
          alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Size</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('2')" class="hidden" formControlName="quantity"  id="quantity" type="checkbox" name="quantity">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="quantity">
        <img *ngIf="policiesForm.value.quantity == true || policiesForm.value.quantity == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png"
          alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Quantity</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('3')" class="hidden" formControlName="breed"  id="breed" type="checkbox" name="breed">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="breed">
        <img *ngIf="policiesForm.value.breed == true || policiesForm.value.breed == 't'" class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm" src="assets/images/active.png"
          alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Breed</p>
      </label>
    </div>
  </div>
  <div *ngIf="noPetsRestrictions" class="pl-3 mt-3 font-cw text-cwRed text-11px20px">* Pet Restrictions is marked but
    no
    restrictions are indicated
  </div>

  <div *ngIf="policiesForm.value.petsOk == true || policiesForm.value.petsOk == 't'" class="grid grid-cols-2 mt-10 w-636">
    <div class="pb-10">
      <p class="font-cw text-cwGray">Is there an additional charge for pets?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="policiesForm.value.petPaid == false || policiesForm.value.petPaid == 'f' || policiesForm.value.petPaid =='null'" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="policiesForm.value.petPaid == true || policiesForm.value.petPaid == 't'" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="petPaid" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="petPaid" id="petPaid"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>

  <div class="flex flex-row col-span-2 pb-10">
    <div class="">
      <button type="button" (click)="clearChanges()"
        class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear
        Changes</button>
    </div>
    <div class="pl-6">
      <button type="submit" class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save &
        Continue</button>
    </div>
  </div>
</form>