<div class="grid h-auto grid-cols-1 border-2 rounded w-306 border-validate">
    <p class="py-5 pl-6 font-bold font-cw text-cwGray text-20px30px">Pro Tips</p>
    <div class="pb-5 pl-6 pr-8">
        <p class="font-cw text-cwGray">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea common.
        </p>
    </div>
</div>