<div class="flex">
  <h1 class="font-bold font-cw text-cwGray text-28px34px pb-11">Advertising Codes</h1><span class="ml-4"
    style="margin-top: 7px;">Office use
    only</span>
</div>


<div class="grid grid-cols-2 w-636 gap-6">
  <div class="relative pb-4 f-outline">
    <input type="text" name="CDAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="city" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      CD Adv
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="advHistory" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="city" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Adv History
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="seasonalAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="city" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Seasonal Adv
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="seasonalAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="seasonalListing" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Seasonal Listing
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="seasonalAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="basicPaidListing" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Basic Paid Listing
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="seasonalAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="onlineSeasonalTab" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Online Seasonal Tab
    </label>
  </div>
  <div class="relative pb-4 f-outline">
    <input type="text" name="seasonalAdv" placeholder=" "
      class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
    <label for="onlineRentalTab" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
      Online Rental Tab
    </label>
  </div>
  <div></div>
</div>
<div class="relative pb-4 f-outline mt-6">
  <textarea type="text" name="seasonalAdv" placeholder=" "
    class="block bg-gray-100 border-none rounded appearance-none w-636 h-24 border-cwGray focus:outline-none"></textarea>
  <label for="seoDescription1" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
    SEO Description Field 1
  </label>
</div>
<div class="relative pb-4 f-outline mt-6">
  <textarea type="text" name="seasonalAdv" placeholder=" "
    class="block bg-gray-100 border-none rounded appearance-none w-636 h-24 border-cwGray focus:outline-none"></textarea>
  <label for="seoDescription2" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
    SEO Description Field 2
  </label>
</div>
<div class="relative pb-4 f-outline mt-6">
  <textarea type="text" name="seasonalAdv" placeholder=" "
    class="block bg-gray-100 border-none rounded appearance-none w-636 h-24 border-cwGray focus:outline-none"></textarea>
  <label for="seoDescription3" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
    SEO Description Field 3
  </label>
</div>
<div class="relative pb-4 f-outline mt-6">
  <textarea type="text" name="seasonalAdv" placeholder=" "
    class="block bg-gray-100 border-none rounded appearance-none w-636 h-24 border-cwGray focus:outline-none"></textarea>
  <label for="seoDescription4" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">
    SEO Description Field 4
  </label>
</div>

<!-- Action Buttons -->


<div class="flex flex-row col-span-2 pb-10 mt-5">
  <div class="">
    <button class="font-medium border rounded font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
  </div>
  <div class="pl-6">
    <button class="text-white rounded bg-cwRed font-cw h-13 w-44">Save & Continue</button>
  </div>

</div>