<div class="w-full border shadow-2xl rounded-xl ">
    <p class="font-bold text-center font-cw text-cwGray text-28px34px pt-7">Proposals</p>
    <p class="text-center text-20px26px text-cwGray">75</p>
    <div class="grid grid-cols-1 pt-6">
        <div class="flex items-center justify-between h-12 px-6 bg-proposalsGray">
            <p class="items-center text-16px26px font-cw text-cwGray">% of Primary Listings</p>
            <p class="text-16px26px font-cw text-cwGray">24.2%</p>
        </div>
        <div class="flex items-center justify-between h-12 px-6">
            <p class="text-16px26px font-cw text-cwGray">Average $$ Amount</p>
            <p class="text-16px26px font-cw text-cwGray">$6,183.57</p>
        </div>
        <div class="flex items-center justify-between h-12 px-6 bg-proposalsGray">
            <p class="text-16px26px font-cw text-cwGray">Conversion Rate</p>
            <p class="text-16px26px font-cw text-cwGray">29.3%</p>
        </div>
        <div class="py-5 text-center">
            <p class="text-14px24px font-cw text-cwGray">
                28 proposals sent 14 days ago and no order on account.
            </p>
        </div>
    </div>
</div>  
