<div class="grid justify-center ">
    <div class="flex space-x-4 ">
        <p>Status:</p>
        <span class="bg-lightOrange bg-opacity-50 font-lato text-createListingSubMenu text-cwGray rounded px-1">OPEN</span>
    </div>
    <div class="w-222 h-14 pt-8">
        <div class="pb-3">
            <button (click)="expandAll()" class="text-cwRed">Expand all</button>
        </div>
        <div class="grid grid-cols-1 justify-items-start gap-3 border-t-2">
            <!-- First dropdown section -->
            <div class="flex flex-row justify-left items-center w-222 space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
                <button (click)='locationInfoToggle()' class="font-cw text-cwGray w-222">
                    <div class="grid grid-cols-6">
                        <p *ngIf="!unHideLocationInfo" class="col-span-5 justify-self-start">Location Info</p>
                        <p *ngIf="unHideLocationInfo" class="col-span-5 justify-self-start font-bold">Location Info</p>
                        <img *ngIf="!unHideLocationInfo" class="self-center justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideLocationInfo" class="self-center justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideLocationInfo" class="bg-navGray w-222 grid grid-cols-1 pl-5 gap-3">
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Good Sam Record ID</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Contact Info</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Owner & B2B Info</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Directions</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Good Sam Park</p>
                </div>
            </div> 
            <!-- Second dropdown section -->
            <div class="flex flex-row justify-left items-center w-222 space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
                <button (click)='locationDetailsToggle()' class="font-cw text-cwGray w-222">
                    <div class="grid grid-cols-6">
                        <p *ngIf="!unHideLocationDetails" class="col-span-5 justify-self-start">Location Details</p>
                        <p *ngIf="unHideLocationDetails" class="col-span-5 justify-self-start font-bold">Location Details</p>
                        <img *ngIf="!unHideLocationDetails" class="self-center justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideLocationDetails" class="self-center justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideLocationDetails" class="bg-navGray grid grid-cols-1 pl-5 gap-3">
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Interior Roads & Site Info</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Policies</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Eco Friendly</p>
                </div>
            </div> 
            <!-- Third dropdown section -->
            <div class="flex flex-row justify-left items-center w-222 space-x-2.5">
                <img src="/assets/images/grey-check.png" alt="grey-check">
                <button (click)='amenitiesToggle()' class="font-cw text-cwGray w-222">
                    <div class="grid grid-cols-6">
                        <p *ngIf="!unHideAmenities" class="col-span-5 justify-self-start">Amenities</p>
                        <p *ngIf="unHideAmenities" class="col-span-5 justify-self-start font-bold">Amenities</p>
                        <img *ngIf="!unHideAmenities" class="self-center justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideAmenities" class="self-center justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideAmenities" class="bg-navGray w-222 grid grid-cols-1 pl-5 gap-3">
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Restrooms</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">On Site Services</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Recreation</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Water Recreation</p>
                </div>
            </div> 
            <!-- Fourth dropdown section -->
            <div class="flex flex-row justify-left items-center w-222 space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
                <button (click)='rentBuyToggle()' class="font-cw text-cwGray w-222">
                    <div class="grid grid-cols-6">
                        <p *ngIf="!unHideRentBuy" class="col-span-5 justify-self-start">Rent & Buy</p>
                        <p *ngIf="unHideRentBuy" class="col-span-5 justify-self-start font-bold">Rent & Buy</p>
                        <img *ngIf="!unHideRentBuy" class="self-center justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideRentBuy" class="self-center justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideRentBuy" class="bg-navGray w-222 grid grid-cols-1 pl-5 gap-3">
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Tenting & Rentals</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">RV Homes / Park Models / Lots for Sale</p>
                </div>
            </div>
            <!-- Fifth dropdown section -->
            <div class="flex flex-row justify-left items-center w-222 space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
                <button (click)='ratesRatingsToggle()' class="font-cw text-cwGray w-222">
                    <div class="grid grid-cols-6">
                        <p *ngIf="!unHideRatesRatings" class="col-span-5 justify-self-start">Rates & Ratings</p>
                        <p *ngIf="unHideRatesRatings" class="col-span-5 justify-self-start font-bold">Rates & Ratings</p>
                        <img *ngIf="!unHideRatesRatings" class="self-center justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideRatesRatings" class="self-center justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideRatesRatings" class="bg-navGray w-222 grid grid-cols-1 pl-5 gap-3">
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Rates & Reservations</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Ratings</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Published Ratings</p>
                </div>
                <div class="flex flex-row items-center space-x-4 ">
                    <img src="/assets/images/grey-check.png" alt="grey-check">
                    <p class="font-cw text-cwGray text-createListingSubMenu">Water Recreation</p>
                </div>
            </div>
            <!-- Sixth section -->
            <div class="flex flex-row justify-center items-center space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
            <p class="font-cw text-cwGray">Advertising Codes (Office Use Only)</p>
            </div>
            <!-- Seventh section-->
            <div class="flex flex-row justify-center items-center space-x-2.5 ">
                <img src="/assets/images/grey-check.png" alt="grey-check">
            <p class="font-cw text-cwGray">Listing Update Details</p>
            </div>
        </div>
    </div>
</div>