<div class="flex items-center justify-center w-full h-11 bg-cwRed bg-opacity-70">
    <p class="text-white font-cw text-14px24px">You have advertisers that need forecast input. 
        <a href="" class="font-bold underline ">Resolve the advertisers highlighted in pink.</a>
    </p>
</div>
<!-- <div class=""> -->
    <div class="pl-18 py-7.5">
        <select class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-72 h-13 ">
          <option>All territories</option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
<!-- </div> -->
<div class="flex flex-row pl-18">
    <div class="w-416 h-510">
        <listings></listings>
    </div>
    <div class="pr-6">
    </div>
    <div class="w-856 h-510">
        <orders></orders>
    </div>
</div>
<proposals></proposals>
<recently-viewed></recently-viewed>