<div class="flex items-center justify-center w-full h-11 bg-cwRed bg-opacity-70">
  <p class="text-white font-cw text-14px24px">You have advertisers that need forecast input.
    <a href="" class="font-bold underline ">Resolve the advertisers highlighted in pink.</a>
  </p>
</div>
<!-- <div class=""> -->
<div class="pl-18 py-7.5">
  <select (change)="onChange($event)"
    class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-72 h-13 ">
    <option>All territories</option>
    <option *ngFor="let t of territories" [value]='t.code'>{{t.description}}</option>
  </select>
</div>
<!-- </div> -->
<div>
  <div *ngIf="loadingListings && loadingOrders" class="m-auto loading-box">
    <div class="text-center mt-5">
      <div class="loadedio-spinner-dual-ring-gu89oggct8j">
        <div class="ldio-ohyoqffs56">
          <div></div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row space-x-6 px-18">
    <div class="w-auto">
      <listings [territoryCode]="selectedTerritory"></listings>
    </div>
    <div class="w-full">
      <orders (loading)="stopLoading()" [territoryCode]="selectedTerritory"></orders>
    </div>
  </div>
</div>
<div class="grid h-auto grid-cols-1 space-y-15 pt-15 px-18">
  <div class="h-auto border shadow-cw rounded-xl">
    <report></report>
  </div>
  <div class="h-330">
    <proposals></proposals>
  </div>
</div>

<recently-viewed></recently-viewed>