/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
}

.error-border {
    border-color: #C30B24;
}
.error-label {
    color: #C30B24;
}

/*Text Input Fields Floating Form Label*/
.f-outline input:focus-within ~ label,
.f-outline input:not(:placeholder-shown) ~ label {
    transform: translateY(-.5rem) translatex(-.5rem) scaleX(0.75) scaleY(0.75);
}

.miles-km input:focus-within ~ label,
.miles-km input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.4rem) scaleX(0.75) scaleY(0.75);
}

.name-track input:focus-within ~ label,
.name-track input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.8rem) scaleX(0.75) scaleY(0.75);
}

/*Dropdown Select Fields Floating Form Label*/
select:focus ~ label,
select:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.4rem) scaleX(0.75) scaleY(0.75);
} 

/*Coast to Coast Field Floating Form Label*/
.longer-label:focus ~ label,
.longer-label:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1.25rem) scaleX(0.75) scaleY(0.75);
} 