<form [formGroup]="directionsForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 w-636">
        <div class="grid col-span-2">
            <p class="font-bold font-cw text-cwGray text-28px34px pb-9">Directions</p>
        </div>
        <div class="relative col-span-2 pb-10 f-outline">
            <textarea type="text" formControlName="directions" name="directions" placeholder=" " [ngClass]="{'error-border': submitted && f.directions.errors }"
              class="block h-24 rounded appearance-none border-cwBadgeGray w-636 focus:outline-none"></textarea>
            <label for="directions" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.directions.errors }">
                Directions
            </label>
            <div *ngIf="submitted && f.directions.errors">
                <div *ngIf="f.directions.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a value.</div>
            </div>
        </div>
        <div class="relative col-span-2 pb-10 f-outline">
            <select name="directionsFromTown" formControlName="directionsFromTown" value="" [ngClass]="{'error-border': submitted && f.directionsFromTown.errors }"
            onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 longer-label border-cwBadgeGray focus:outline-none">
            <option value=""></option>
            <option *ngFor="let d of directionalArrowsFromService" [ngValue]="d.id">{{d.value}}</option>
            </select>
            <label for="directionsFromTown" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.directionsFromTown.errors }">Directions from Town</label>
            
            <div *ngIf="submitted && f.directionsFromTown.errors">
                <div *ngIf="f.directionsFromTown.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a value.</div>
            </div>
        </div>
        <div class="pb-10">
            <p class="font-cw">Near a NASCAR track?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!isNascarChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="isNascarChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleNascar" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleNascar" (click)="checkBoxNascarChange(this);" id="toggleNascar" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="isNascarChecked" class="relative pb-10 miles-km">
            <input type="text" name="milesOrKM" formControlName="milesOrKM" placeholder=" " [ngClass]="{'error-border': submitted && isNascarChecked && f.milesOrKM.errors }"
                class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
            <label for="milesOrKM"
                class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && isNascarChecked && f.milesOrKM.errors }">How many miles or km?</label>
        
            <div *ngIf="submitted && isNascarChecked && f.milesOrKM.errors">
                <div *ngIf="f.milesOrKM.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a value.</div>
            </div>
            <div *ngIf="submitted && isNascarChecked && f.milesOrKM.errors">
                <div *ngIf="f.milesOrKM.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid number.</div>
            </div>  
        </div>
    
        <div *ngIf="isNascarChecked" class="relative pb-10 f-outline">
            <select name="unitOfMeasurement" formControlName="unitOfMeasurement" value="" [ngClass]="{'error-border': submitted && isNascarChecked && f.unitOfMeasurement.errors }"
            onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none longer-label w-306 h-13 border-cwBadgeGray focus:outline-none">
              <option value=""></option>
              <option value="1">Mi</option>
              <option value="2">Km</option>
            </select>
            <label for="unitOfMeasurement" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && isNascarChecked && f.unitOfMeasurement.errors }">Unit of measurement</label>
            <div *ngIf="submitted && f.unitOfMeasurement.errors">
                <div *ngIf="f.unitOfMeasurement.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please make a selection.</div>
            </div>  
        </div>
          
        <div *ngIf="isNascarChecked" class="relative pb-10 f-outline">
            <select name="nameOfTrack" formControlName="nameOfTrack" value="" [ngClass]="{'error-border': submitted && isNascarChecked && f.nameOfTrack.errors }"
            onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none name-track w-636 h-13 border-cwBadgeGray focus:outline-none">
              <option value=""></option>
              <option value="1">Atlanta Motor Speedway</option>
              <option value="2">Auto Club Speedway</option>
            </select>
            <label for="nameOfTrack" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && isNascarChecked && f.nameOfTrack.errors }">Name of track</label>
            <div *ngIf="submitted && f.nameOfTrack.errors">
                <div *ngIf="f.nameOfTrack.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please make a selection.</div>
            </div>  
        </div>
        

        <div class="flex flex-row col-span-2 pb-10">
            <div class="">
                <button type="button" data="Clear" (click)="clearChanges()" class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
            </div>
            <div class="pl-6">
                <button data="Submit" class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
            </div>
        </div>
    </div>
</form>