/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
}

input:checked + label {
	border-color: #C30B24;
    border-width: 4px;
    height: 152px;
    width: 147x;
}

/*default Text Input Fields Floating Form Label*/
.f-outline input:focus-within ~ label,
.f-outline input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-2.3rem) scaleX(0.75) scaleY(0.75);
}

/*Dropdown Select Fields Floating Form Label*/
.wifi-connectivity:focus ~ label,
.wifi-connectivity:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-2.6rem) scaleX(0.75) scaleY(0.75);
}

.cellular-connectivity:focus ~ label,
.cellular-connectivity:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-2.75rem) scaleX(0.75) scaleY(0.75);
}

.cell-service:focus ~ label,
.cell-service:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1.15rem) scaleX(0.75) scaleY(0.75);
} 