<div class="grid grid-cols-2 w-636">
    <div class="grid col-span-2">
        <p class="font-bold font-cw text-cwGray text-28px34px pb-9">Good Sam Record ID</p>
    </div>
    <div class="relative pb-10 f-outline ">
        <input type="text" name="parkName" placeholder=" "
            class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="parkName"
            class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Park name</label>
    </div>
    <div class="relative pb-10 f-outline">
        <input type="text" name="fileNum" placeholder=" "
            class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray bg-navGray focus:outline-none" />
        <label for="fileNum"
            class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">File Number</label>
    </div>

    <div class="relative pb-10 f-outline">
        <select name="sectionCode" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="sectionCode" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Section Code</label>
      </div>

      <div class="relative pb-10 f-outline">
        <input type="text" name="repCode" placeholder=" "
            class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray bg-navGray focus:outline-none" />
        <label for="repCode"
            class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Rep Code</label>
    </div>

    <div class="relative pb-10 f-outline">
        <input type="text" name="listCity" placeholder=" "
            class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="listCity"
            class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">List City</label>
    </div>

    <div class="relative pb-10">
        <select name="listState" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none longer-label w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="listState" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">List State/Province</label>
      </div>
      <div class="relative pb-10">
        <select name="territory" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="territory" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Territory</label>
      </div>
      <div class="relative pb-10">
        <select name="listType" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="listType" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Listing Type</label>
      </div>
      <div class="relative col-span-2 pb-10">
        <select name="parkType" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="parkType" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Park Type</label>
      </div>

      <div class="pb-10">
          <p class="font-cw">No overnight guests</p>
      </div>

      <div class="flex items-center justify-end w-full pr-2 mb-12">
        <p *ngIf="!isGuestsChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
        <p *ngIf="isGuestsChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
        <label for="toggleGuests" class="flex items-center cursor-pointer">
          <!-- toggle -->
          <div class="relative">
            <!-- input -->
            <input type="checkbox" (click)="checkBoxGuestsChange(this);" id="toggleGuests" class="sr-only">
            <!-- line -->
            <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
            <!-- dot -->
            <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
          </div>
        </label>
      </div>

      <div class="pb-10">
        <p class="font-cw">Delete Listing</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-12">
      <p *ngIf="!isDeleteChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="isDeleteChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
        <label for="toggleDelete" class="flex items-center cursor-pointer">
          <!-- toggle -->
          <div class="relative">
            <!-- input -->
            <input type="checkbox" (click)="checkBoxDeleteChange(this);" id="toggleDelete" class="sr-only">
            <!-- line -->
            <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
            <!-- dot -->
            <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
          </div>
        </label>
      </div>

    <div class="flex flex-row col-span-2 pb-10">
        <div class="">
            <button class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
        </div>
        <div class="pl-6">
            <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
        </div>
        
    </div>
</div>
