<form [formGroup]="goodSamRecordForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-2 w-636">
    <div class="grid col-span-2">
        <p class="font-bold font-cw text-cwGray text-28px34px pb-9">Good Sam Record ID</p>
    </div>
    <div class="relative pb-10 long-label">
      <input type="text" formControlName="parkName" name="parkName" placeholder=" " [ngClass]="{'error-border': submitted && f.parkName.errors }"
          class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
      <label for="parkName"
          class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.parkName.errors }">Park name</label>
      <div *ngIf="submitted && f.parkName.errors">
        <div *ngIf="f.parkName.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Park name is required.</div>
      </div>
      <div *ngIf="submitted && f.parkName.errors">
        <div *ngIf="f.parkName.errors.maxlength" class="pl-3 font-cw text-cwRed text-11px20px">Park name cannot exceed 255 characters.</div>
      </div>

    </div>
    <div class="relative pb-10 long-label">
      <input type="text" formControlName="fileNum" name="fileNum" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray bg-navGray focus:outline-none" />
      <label for="fileNum"
          class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">File Number</label>
    </div>

    <div class="relative pb-10 f-outline">
      <select name="sectionCode" formControlName="sectionCode" value="" [ngClass]="{'error-border': submitted && f.sectionCode.errors }"
      onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none long-dd w-306 h-13 border-cwBadgeGray focus:outline-none">
        <option value=""></option>
        <option value="1">010 - Private Park</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
        <option value="5">Option 5</option>
      </select>
      <label for="sectionCode" [ngClass]="{'error-label': submitted && f.sectionCode.errors }" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Section Code</label>
      <div *ngIf="submitted && f.sectionCode.errors">
        <div *ngIf="f.sectionCode.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Section code is required.</div>
      </div>
    </div>
    <div class="relative pb-10 f-outline">
      <input type="text" formControlName="repCode" name="repCode" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray bg-navGray focus:outline-none" />
      <label for="repCode"
          class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Rep Code</label>
    </div>

    <div class="relative pb-10 f-outline">
        <input type="text" formControlName="listCity" name="listCity" placeholder=" " [ngClass]="{'error-border': submitted && f.listCity.errors }"
            class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="listCity"
            class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.listCity.errors }">List City</label>
        <div *ngIf="submitted && f.listCity.errors">
          <div *ngIf="f.listCity.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Listing city is required.</div>
        </div>
        <div *ngIf="submitted && f.listCity.errors">
          <div *ngIf="f.listCity.errors.maxlength" class="pl-3 font-cw text-cwRed text-11px20px">Listing city value cannot exceed 255 characters.</div>
        </div>
    </div>
    <div class="relative pb-10">
        <select name="listState" formControlName="listState" value="" [ngClass]="{'error-border': submitted && f.listState.errors }"
        onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none longer-dd w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="listState" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.listState.errors }">List State/Province</label>
        <div *ngIf="submitted && f.listState.errors">
          <div *ngIf="f.listState.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">List state/province is required.</div>
        </div>
      </div>
      <div class="relative pb-10">
        <select name="territory" formControlName="territory" value="" [ngClass]="{'error-border': submitted && f.territory.errors }"
        onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none territory w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option *ngFor="let t of territories">{{t.description}}</option>
        </select>
        <label for="territory" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.territory.errors }">Territory</label>
        <div *ngIf="submitted && f.territory.errors">
          <div *ngIf="f.territory.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">territory is required.</div>
        </div>
      </div>
      <div class="relative pb-10">
        <select name="listType" formControlName="listType" value="" [ngClass]="{'error-border': submitted && f.listType.errors }"
        onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="listType" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.listType.errors }">Listing Type</label>
        <div *ngIf="submitted && f.listType.errors">
          <div *ngIf="f.listType.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Listing type is required.</div>
        </div>
      </div>
      <div class="relative col-span-2 pb-10">
        <select name="parkType" formControlName="parkType" value="" [ngClass]="{'error-border': submitted && f.parkType.errors }"
        onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none short-dd w-306 h-13 border-cwBadgeGray">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="parkType" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5" [ngClass]="{'error-label': submitted && f.parkType.errors }">Park Type</label>
        <div *ngIf="submitted && f.parkType.errors">
          <div *ngIf="f.parkType.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Park type is required.</div>
        </div>
      </div>

      <div class="pb-10">
          <p class="font-cw">No overnight guests</p>
      </div>

      <div class="flex items-center justify-end w-full pr-2 mb-12">
        <p *ngIf="!isGuestsChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
        <p *ngIf="isGuestsChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
        <label for="toggleGuests" class="flex items-center cursor-pointer">
          <!-- toggle -->
          <div class="relative">
            <!-- input -->
            <input type="checkbox" formControlName="toggleGuests" (click)="checkBoxGuestsChange(this);" id="toggleGuests" class="sr-only">
            <!-- line -->
            <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
            <!-- dot -->
            <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
          </div>
        </label>
      </div>

      <div class="pb-10">
        <p class="font-cw">Delete Listing</p>
      </div>

      <div class="flex items-center justify-end w-full pr-2 mb-12">
        <p *ngIf="!isDeleteChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
        <p *ngIf="isDeleteChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
          <label for="toggleDelete" class="flex items-center cursor-pointer">
            <!-- toggle -->
            <div class="relative">
              <!-- input -->
              <input type="checkbox" formControlName="toggleDelete" (click)="checkBoxDeleteChange(this);" id="toggleDelete" class="sr-only">
              <!-- line -->
              <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
              <!-- dot -->
              <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
            </div>
          </label>
        </div>

      <div class="flex flex-row col-span-2 pb-10">
          <div class="">
              <button type="button" (click)="clearChanges()" class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
          </div>
          <div class="pl-6">
              <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
          </div>
      </div>
  </div>
</form>