/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
}

input:checked + label {
	border-color: #C30B24;
    border-width: 4px;
    height: 152px;
    width: 147x;
}

.error-border {
    border-color: #C30B24;
}
.error-label {
    color: #C30B24;
}

/*default Text Input Fields Floating Form Label*/
.f-outline input:focus-within ~ label,
.f-outline input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.2rem) scaleX(0.75) scaleY(0.75);
}

/*Text textarea Fields Floating Form Label*/
.f-outline textarea:focus-within ~ label,
.f-outline textarea:not(:placeholder-shown) ~ label {
  transform: translateY(-1.05rem) translatex(-1.1rem) scaleX(0.75) scaleY(0.75);
}

.short-label input:focus-within ~ label,
.short-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.8rem) scaleX(0.75) scaleY(0.75);
}
.long-label input:focus-within ~ label,
.long-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.9rem) scaleX(0.75) scaleY(0.75);
}
.longer-label input:focus-within ~ label,
.longer-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.1rem) scaleX(0.75) scaleY(0.75);
}

.daily-rate-to input:focus-within ~ label,
.daily-rate-to input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.9rem) scaleX(0.75) scaleY(0.75);
}
.daily-rate-from input:focus-within ~ label,
.daily-rate-from input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1rem) scaleX(0.75) scaleY(0.75);
}

.sleep-up-to input:focus-within ~ label,
.sleep-up-to input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.87rem) scaleX(0.75) scaleY(0.75);
}
.min-stay input:focus-within ~ label,
.min-stay input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.4rem) scaleX(0.75) scaleY(0.75);
}

.rental-description input:focus-within ~ label,
.rental-description input:not(:placeholder-shown) ~ label {
    transform: translateY(-.5rem) translatex(-.95rem) scaleX(0.75) scaleY(0.75);
}

/*Dropdown Select Fields Floating Form Label*/
.bath:focus ~ label,
.bath:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.2rem) scaleX(0.75) scaleY(0.75);
} 

.kitchen:focus ~ label,
.kitchen:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.35rem) scaleX(0.75) scaleY(0.75);
} 