<form [formGroup]="tentingRentalsForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 w-636">
        <div class="grid col-span-2 pb-14">
            <p class="font-bold font-cw text-cwGray text-28px34px">Tenting & Rentals</p>
        </div>

        <div class="grid col-span-2 pb-8">
            <p class="font-bold font-cw text-cwGray text-18px24px">Tenting</p>
        </div>

        <div class="pb-11">
            <p class="font-cw">Are there tent sites?</p>
        </div>
        <div class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!tentSites" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tentSites" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTentSites" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTentSites" (click)="checkBoxTentSitesChange(this);" id="toggleTentSites" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="tentSites" class="pb-11">
            <p class="font-cw">Dedicated tenting area?</p>
        </div>
        <div *ngIf="tentSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!tentingArea" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tentingArea" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTentingArea" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTentingArea" (click)="checkBoxTentingAreaChange(this);" id="toggleTentingArea" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="tentSites" class="relative pb-10 short-label">
            <input type="text" formControlName="numTentSites" name="numTentSites" placeholder=" "
                class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
            <label for="numTentSites"
                class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># of tent sites</label>
        </div>
        <div *ngIf="tentSites" class="relative pb-10 longer-label">
            <input type="text" formControlName="numTentOnlySites" name="numTentOnlySites" placeholder=" "
                class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
            <label for="numTentOnlySites"
                class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># of tent ONLY sites</label>
        </div>

        <div *ngIf="tentSites" class="flex col-span-2 pb-10">
            <p class="font-bold font-cw text-cwGray text-18px24px">Other</p>
            <p class="pl-4 font-cw text-cwGray text-14px24px">Select all that apply</p>
        </div>
        <div *ngIf="tentSites" formGroupName="otherOptions" class="flex flex-row col-span-2 space-x-4 pb-15">
            <div class="relative">
                <input (click)="otherChecked('1')" formControlName="otherOption1" class="hidden" id="otherOption1" type="checkbox" name="otherOption1">
                <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="otherOption1">
                    <img *ngIf="otherOptions.includes('1')" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Overflow</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="otherChecked('2')" formControlName="otherOption2" class="hidden" id="otherOption2" type="checkbox" name="otherOption2">
                <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="otherOption2">
                    <img *ngIf="otherOptions.includes('2')" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Cooking counter</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="otherChecked('3')" formControlName="otherOption3" class="hidden" id="otherOption3" type="checkbox" name="otherOption3">
                <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="otherOption3">
                    <img *ngIf="otherOptions.includes('3')" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Privacy barrier</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="otherChecked('4')" formControlName="otherOption4" class="hidden" id="otherOption4" type="checkbox" name="otherOption4">
                <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="otherOption4">
                    <img *ngIf="otherOptions.includes('4')" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">Covered area with picnic table</p>
                </label>
            </div>
        </div>

        <div class="grid col-span-2 pb-8">
            <p class="font-bold font-cw text-cwGray text-18px24px">Rentals</p>
        </div>

        <div class="pb-11">
            <p class="font-cw">Are there rental sites?</p>
        </div>
        <div class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!rentalSites" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="rentalSites" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleRentalSites" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleRentalSites" (click)="checkBoxRentalsSitesChange(this);" id="toggleRentalSites" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

       <div *ngIf="rentalSites" class="relative col-span-2 pb-10 rental-description">
            <input type="text" formControlName="rentalDescription" name="rentalDescription" placeholder=" "
                class="block h-20 px-3 bg-transparent border rounded appearance-none w-636 border-cwBadgeGray focus:outline-none" />
            <label for="rentalDescription"
                class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Rental desciption</label>
        </div>
        
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 short-label">
                <input type="text" formControlName="numTentRentals" name="numTentRentals" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numTentRentals"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># tent rentals</label>
            </div>
            <div class="relative pb-10 long-label">
                <input type="text" formControlName="numTeepeeYurts" name="numTeepeeYurts" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numTeepeeYurts"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># teepee / yurts</label>
            </div>
            <div class="relative pb-10 longer-label">
                <input type="text" formControlName="numRVParkModels" name="numRVParkModels" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numRVParkModels"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># RV / Park models</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-15 sleep-up-to">
                <input type="text" formControlName="numCabinsCottagesTinyHouses" name="numCabinsCottagesTinyHouses" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numCabinsCottagesTinyHouses"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># cabins / cottages / tiny houses</label>
            </div>
            <div class="relative pb-15 short-label">
                <input type="text" formControlName="numLodgeRooms" name="numLodgeRooms" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numLodgeRooms"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># lodge rooms</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="grid col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">Tent Rentals</p>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 sleep-up-to">
                <input type="text" formControlName="tentSleepUpTo" name="tentSleepUpTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tentSleepUpTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Sleep up to - average # per unit</label>
            </div>
            <div class="relative pb-10 min-stay">
                <input type="text" formControlName="tentMinStayNumOfDays" name="tentMinStayNumOfDays" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tentMinStayNumOfDays"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Minimum stay # of days</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 daily-rate-from">
                <input type="text" formControlName="tentDailyRateFrom" name="tentDailyRateFrom" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tentDailyRateFrom"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate from ($)</label>
            </div>
            <div class="relative pb-11 daily-rate-to">
                <input type="text" formControlName="tentDailyRateTo" name="tentDailyRateTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tentDailyRateTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate to ($)</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!tentPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tentPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTentPetsAllowed" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTentPetsAllowed" (click)="checkBoxTentPetsAllowedChange(this);" id="toggleTentPetsAllowed" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-16">
            <p class="font-cw">Pets allowed ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-15">
            <p *ngIf="!tentPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tentPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTentPetsAllowedCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTentPetsAllowedCost" (click)="checkBoxTentPetsAllowedCostChange(this);" id="toggleTentPetsAllowedCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>
        <div *ngIf="rentalSites" class="grid col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">Teepee / Yurt Rentals</p>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 sleep-up-to">
                <input type="text" formControlName="tySleepUpTo" name="tySleepUpTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tySleepUpTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Sleep up to - average # per unit</label>
            </div>
            <div class="relative pb-11 min-stay">
                <input type="text" formControlName="tyMinStayNumOfDays" name="tyMinStayNumOfDays" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tyMinStayNumOfDays"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Minimum stay # of days</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 daily-rate-from">
                <input type="text" formControlName="tyDailyRateFrom" name="tyDailyRateFrom" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tyDailyRateFrom"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate from ($)</label>
            </div>
            <div class="relative pb-11 daily-rate-to">
                <input type="text" formControlName="tyDailyRateTo" name="tyDailyRateTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="tyDailyRateTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate to ($)</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!tyPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tyPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTYPetsAllowed" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTYPetsAllowed" (click)="checkBoxTYPetsAllowedChange(this);" id="toggleTYPetsAllowed" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-16">
            <p class="font-cw">Pets allowed ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-15">
            <p *ngIf="!tyPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="tyPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleTYPetsAllowedCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleTYPetsAllowedCost" (click)="checkBoxTYPetsAllowedCostChange(this);" id="toggleTYPetsAllowedCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="grid col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">RV / Park Model Rentals</p>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 sleep-up-to">
                <input type="text" formControlName="rvSleepUpTo" name="rvSleepUpTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="rvSleepUpTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Sleep up to - average # per unit</label>
            </div>
            <div class="relative pb-10 min-stay">
                <input type="text" formControlName="rvMinStayNumOfDays" name="rvMinStayNumOfDays" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="rvMinStayNumOfDays"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Minimum stay # of days</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 daily-rate-from">
                <input type="text" formControlName="rvDailyRateFrom" name="rvDailyRateFrom" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="rvDailyRateFrom"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate from ($)</label>
            </div>
            <div class="relative pb-10 daily-rate-to">
                <input type="text" formControlName="rvDailyRateTo" name="rvDailyRateTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="rvDailyRateTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate to ($)</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex col-span-2 space-x-6 pb-11">
            <div class="relative f-outline">
                <select name="rvBath" formControlName="rvBath" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="rvBath" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Bath</label>
            </div>
            <div class="relative f-outline">
                <select name="rvKitchen" formControlName="rvKitchen" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="rvKitchen" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Kitchen</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!rvPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="rvPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleRVPetsAllowed" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleRVPetsAllowed" (click)="checkBoxRVPetsAllowedChange(this);" id="toggleRVPetsAllowed" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!rvPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="rvPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleRVPetsAllowedCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleRVPetsAllowedCost" (click)="checkBoxRVPetsAllowedCostChange(this);" id="toggleRVPetsAllowedCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Linens available?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!rvLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="rvLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleRVLinensAvail" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleRVLinensAvail" (click)="checkBoxRVLinensAvailChange(this);" id="toggleRVLinensAvail" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-16">
            <p class="font-cw">Linens Available ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-15">
            <p *ngIf="!rvLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="rvLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleRVLinensAvailCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleRVLinensAvailCost" (click)="checkBoxRVLinensAvailCostChange(this);" id="toggleRVLinensAvailCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="grid col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">Cabin / Cottage / Tiny House Rentals</p>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 sleep-up-to">
                <input type="text" formControlName="ccthSleepUpTo" name="ccthSleepUpTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="ccthSleepUpTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Sleep up to - average # per unit</label>
            </div>
            <div class="relative pb-10 min-stay">
                <input type="text" formControlName="ccthMinStayNumOfDays" name="ccthMinStayNumOfDays" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="ccthMinStayNumOfDays"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Minimum stay # of days</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 daily-rate-from">
                <input type="text" formControlName="ccthDailyRateFrom" name="ccthDailyRateFrom" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="ccthDailyRateFrom"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate from ($)</label>
            </div>
            <div class="relative pb-10 daily-rate-to">
                <input type="text" formControlName="ccthDailyRateTo" name="ccthDailyRateTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="ccthDailyRateTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate to ($)</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex col-span-2 space-x-6 pb-11">
            <div class="relative f-outline">
                <select name="ccthBath" formControlName="ccthBath" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="ccthBath" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Bath</label>
            </div>
            <div class="relative f-outline">
                <select name="ccthKitchen" formControlName="ccthKitchen" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="ccthKitchen" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Kitchen</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!ccthPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="ccthPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleCCTHPetsAllowed" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleCCTHPetsAllowed" (click)="checkBoxCCTHPetsAllowedChange(this);" id="toggleCCTHPetsAllowed" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!ccthPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="ccthPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleCCTHPetsAllowedCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleCCTHPetsAllowedCost" (click)="checkBoxCCTHPetsAllowedCostChange(this);" id="toggleCCTHPetsAllowedCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Linens available?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!ccthLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="ccthLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleCCTHLinensAvail" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleCCTHLinensAvail" (click)="checkBoxCCTHLinensAvailChange(this);" id="toggleCCTHLinensAvail" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-16">
            <p class="font-cw">Linens Available ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-15">
            <p *ngIf="!ccthLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="ccthLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleCCTHLinensAvailCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleCCTHLinensAvailCost" (click)="checkBoxCCTHLinensAvailCostChange(this);" id="toggleCCTHLinensAvailCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="grid col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">Lodge Rentals</p>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 sleep-up-to">
                <input type="text" formControlName="lrSleepUpTo" name="lrSleepUpTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="lrSleepUpTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Sleep up to - average # per unit</label>
            </div>
            <div class="relative pb-10 min-stay">
                <input type="text" formControlName="lrMinStayNumOfDays" name="lrMinStayNumOfDays" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="lrMinStayNumOfDays"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Minimum stay # of days</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 daily-rate-from">
                <input type="text" formControlName="lrDailyRateFrom" name="lrDailyRateFrom" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="lrDailyRateFrom"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate from ($)</label>
            </div>
            <div class="relative pb-10 daily-rate-to">
                <input type="text" formControlName="lrDailyRateTo" name="lrDailyRateTo" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="lrDailyRateTo"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Daily rate to ($)</label>
            </div>
        </div>
        <div *ngIf="rentalSites" class="flex col-span-2 space-x-6 pb-11">
            <div class="relative f-outline">
                <select name="lrBath" formControlName="lrBath" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="lrBath" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Bath</label>
            </div>
            <div class="relative f-outline">
                <select name="lrKitchen" formControlName="lrKitchen" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="lrKitchen" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Kitchen</label>
            </div>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!lrPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="lrPetsAllowed" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleLRPetsAllowed" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleLRPetsAllowed" (click)="checkBoxLRPetsAllowedChange(this);" id="toggleLRPetsAllowed" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Pets allowed ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!lrPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="lrPetsAllowedCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleLRPetsAllowedCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleLRPetsAllowedCost" (click)="checkBoxLRPetsAllowedCostChange(this);" id="toggleLRPetsAllowedCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Linens available?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!lrLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="lrLinensAvail" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleLRLinensAvail" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleLRLinensAvail" (click)="checkBoxLRLinensAvailChange(this);" id="toggleLRLinensAvail" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div *ngIf="rentalSites" class="pb-11">
            <p class="font-cw">Linens Available ($)?</p>
        </div>
        <div *ngIf="rentalSites" class="flex items-center justify-end w-full pr-2 mb-10">
            <p *ngIf="!lrLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="lrLinensAvailCost" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleLRLinensAvailCost" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" formControlName="toggleLRLinensAvailCost" (click)="checkBoxLRLinensAvailCostChange(this);" id="toggleLRLinensAvailCost" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div class="flex flex-row col-span-2 pb-10">
            <div class="">
                <button type="button" (click)="clearChanges()" class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
            </div>
            <div class="pl-6">
                <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
            </div>
        </div>    
    </div>
</form>