<form [formGroup]="ecoFriendlyForm" (ngSubmit)="onSubmit()">
  <h1 class="font-bold font-cw text-cwGray text-28px34px pb-7">Eco Friendly</h1>
  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="pb-10">
      <p class="font-cw ">Is this park considered green?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="!isParkGreen" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="isParkGreen" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="green" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="green" id="green" class="sr-only" [disabled]="true">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-4 mt-2 w-636">
    <div class="relative">
      <input (click)="optionChecked('nonToxicCleaningProducts')" class="hidden"
        formControlName="nonToxicCleaningProducts" id="nonToxicCleaningProducts" type="checkbox"
        name="nonToxicCleaningProducts">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="nonToxicCleaningProducts">
        <img
          *ngIf="ecoFriendlyForm.value.nonToxicCleaningProducts == true || ecoFriendlyForm.value.nonToxicCleaningProducts == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-10 font-cw">Non
          toxic cleaning products</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('naturalPestControl')" class="hidden" formControlName="naturalPestControl"
        id="naturalPestControl" type="checkbox" name="naturalPestControl">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="naturalPestControl">
        <img *ngIf="ecoFriendlyForm.value.naturalPestControl == true || ecoFriendlyForm.value.naturalPestControl == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Natural pest control</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('minimizedStyrofoamAndPlastic')" class="hidden"
        formControlName="minimizedStyrofoamAndPlastic" id="minimizedStyrofoamAndPlastic" type="checkbox"
        name="minimizedStyrofoamAndPlastic">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="minimizedStyrofoamAndPlastic">
        <img
          *ngIf="ecoFriendlyForm.value.minimizedStyrofoamAndPlastic == true || ecoFriendlyForm.value.minimizedStyrofoamAndPlastic == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-10 font-cw">
          Minimized use of styrofoam and
          plastic
        </p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('droughtTolerantIndigenousPlants')" class="hidden"
        formControlName="droughtTolerantIndigenousPlants" id="droughtTolerantIndigenousPlants" type="checkbox"
        name="droughtTolerantIndigenousPlants">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray"
        for="droughtTolerantIndigenousPlants">
        <img
          *ngIf="ecoFriendlyForm.value.droughtTolerantIndigenousPlants == true || ecoFriendlyForm.value.droughtTolerantIndigenousPlants == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-5 font-cw">Water
          efficient irrigation & drought
          tolerant / indigenous plants</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('recyclingCansForRvers')" class="hidden" formControlName="recyclingCansForRvers"
        id="recyclingCansForRvers" type="checkbox" name="recyclingCansForRvers">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="recyclingCansForRvers">
        <img
          *ngIf="ecoFriendlyForm.value.recyclingCansForRvers == true || ecoFriendlyForm.value.recyclingCansForRvers == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Recycling cans for RVers</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('compactFlourescentLights')" class="hidden"
        formControlName="compactFlourescentLights" id="compactFlourescentLights" type="checkbox"
        name="compactFlourescentLights">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="compactFlourescentLights">
        <img
          *ngIf="ecoFriendlyForm.value.compactFlourescentLights == true || ecoFriendlyForm.value.compactFlourescentLights == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-10 font-cw">
          Compact fluorescent or LED lights</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('insulatedWaterHeaters')" class="hidden" formControlName="insulatedWaterHeaters"
        id="insulatedWaterHeaters" type="checkbox" name="insulatedWaterHeaters">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="insulatedWaterHeaters">
        <img
          *ngIf="ecoFriendlyForm.value.insulatedWaterHeaters == true || ecoFriendlyForm.value.insulatedWaterHeaters == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Insulated water heaters</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('loweredPoolTemperatures')" class="hidden" formControlName="loweredPoolTemperatures"
        id="loweredPoolTemperatures" type="checkbox" name="loweredPoolTemperatures">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="loweredPoolTemperatures">
        <img
          *ngIf="ecoFriendlyForm.value.loweredPoolTemperatures == true || ecoFriendlyForm.value.loweredPoolTemperatures == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Lowered pool temperatures</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('installedPhotocells')" class="hidden" formControlName="installedPhotocells"
        id="installedPhotocells" type="checkbox" name="installedPhotocells">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="installedPhotocells">
        <img
          *ngIf="ecoFriendlyForm.value.installedPhotocells == true || ecoFriendlyForm.value.installedPhotocells == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Installed solar photocells</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('fuelEfficientVehicles')" class="hidden" formControlName="fuelEfficientVehicles"
        id="fuelEfficientVehicles" type="checkbox" name="fuelEfficientVehicles">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="fuelEfficientVehicles">
        <img
          *ngIf="ecoFriendlyForm.value.fuelEfficientVehicles == true || ecoFriendlyForm.value.fuelEfficientVehicles == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">Fuel
          efficient vehicles</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('encouragingUseOfBikesTrikes')" class="hidden"
        formControlName="encouragingUseOfBikesTrikes" id="encouragingUseOfBikesTrikes" type="checkbox"
        name="encouragingUseOfBikesTrikes">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="encouragingUseOfBikesTrikes">
        <img
          *ngIf="ecoFriendlyForm.value.encouragingUseOfBikesTrikes == true || ecoFriendlyForm.value.encouragingUseOfBikesTrikes == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-10 font-cw">
          Encouraging the use of bikes and trikes
        </p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('tanklessWaterHeaters')" class="hidden" formControlName="tanklessWaterHeaters"
        id="tanklessWaterHeaters" type="checkbox" name="tanklessWaterHeaters">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="tanklessWaterHeaters">
        <img
          *ngIf="ecoFriendlyForm.value.tanklessWaterHeaters == true || ecoFriendlyForm.value.tanklessWaterHeaters == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute mx-2 font-bold text-center text-14px24px text-cwGray place-self-center top-13 font-cw">
          Tankless water heaters</p>
      </label>
    </div>
    <div class="relative">
      <input (click)="optionChecked('composting')" class="hidden" formControlName="composting" id="composting"
        type="checkbox" name="composting">
      <label class="flex flex-col cursor-pointer w-147 h-152 rounded-xl bg-navGray" for="composting">
        <img *ngIf="ecoFriendlyForm.value.composting == true || ecoFriendlyForm.value.composting == 't'"
          class="absolute top-0.5 left-125 w-5 h-5 lg: rounded-tr-md xl:rounded-tr-cw rounded-br-sm"
          src="assets/images/active.png" alt="active">
        <p class="absolute font-bold text-center text-14px24px text-cwGray place-self-center top-16 font-cw">Composting
        </p>
      </label>
    </div>
  </div>
  <div class="flex flex-row col-span-2 pb-10 mt-10">
    <div class="">
      <button type="button" (click)="clearChanges()"
        class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear
        Changes</button>
    </div>
    <div class="pl-6">
      <button type="submit" class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save &
        Continue</button>
    </div>
  </div>
</form>