<div class="px-15">
  <div class="border shadow-cw rounded-xl mt-9">
    <div class="p-10">
      <div class="flex flex-row">
        <div class="flex">
          <h1 class="text-28px34px font-cw text-cwGray font-bold">Proposal Name </h1>
          <embed src="/assets/images/pencil.svg" class="ml-2" alt="pencil" />
        </div>
        <div class="flex-grow"></div>
        <embed src="/assets/images/printer.svg" class="ml-2" alt="printer" />
        <embed src="/assets/images/share.svg" class="ml-2" alt="share" />
      </div>
      <div class="flex flex-start font-cw space-x-5 text-cwGray mt-5 flex-row">
        <div>ADV Code <b>147007</b></div>
        <div>Agency Code</div>
        <div>Rep Code <b>780</b></div>
        <div><b>Rep Name</b></div>
      </div>
    </div>
    <div class="p-10 bg-proposalsGray">
      <h1 class="text-28px34px font-cw text-cwGray font-bold">Products</h1>
      <div class="mt-10" style="background: #BFC5CE; height: 4px;"></div>
      <div class="mt-10 flex flex-row">
        <div class="flex">
          <h1 class="text-28px34px font-cw text-cwGray font-bold">Proposed Investment</h1>
        </div>
        <div class="flex-grow"></div>
        <h1 class="text-28px34px font-cw text-cwGray font-bold">$0.00</h1>
      </div>
      <div class="mt-5 flex flex-row">
        <div class="flex">
          <h1 class="text-24px30px font-cw text-cwGray font-bold">Pre-pay the entire order and save 4%</h1>
        </div>
        <div class="flex-grow"></div>
        <h1 class="text-24px30px font-cw text-cwGray font-bold">$0.00</h1>
      </div>
      <div class="mt-5 flex flex-row">
        <div class="flex">
          <h1 class="text-24px30px font-cw text-cwGray">Down payment required</h1>
        </div>
        <div class="flex-grow"></div>
        <h1 class="text-24px30px font-cw text-cwGray">$0.00</h1>
      </div>
    </div>
    <div class="p-10">
      <h1 class="text-28px34px font-cw text-cwGray font-bold">Customer Info</h1>
      <div class="grid grid-cols-2 mt-10">
        <div class="text-cwGray font-cw">
          <p class="font-bold mb-2">Advertiser Info</p>
          <p>Brandon Mitchell</p>
          <p>205 Treasure Isle RD #99</p>
          <p>Hot Springs, AR 71913</p>
          <p>(501) 767-6852</p>
        </div>
        <div class="text-cwGray font-cw">
          <p class="mb-2"><b>Bill To</b> (if different)</p>
          <p>Brandon Mitchell</p>
          <p>10002 Trailridge Dr</p>
          <p>Shreveport, LA 71106</p>
          <p>(318) 272-0049</p>
        </div>
      </div>
      <div class="mt-10">
        <h2 class="font-bold text-cwGray font-cw">Customer Notes</h2>
        <textarea class="w-full mt-5 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray"
          name="" id="" cols="30" rows="3">
        </textarea>
        <button type="submit"
          class="mt-10 px-6 py-4.5 w-30 h-13 text-16px16px text-white rounded-md bg-cwRed hover:opacity-80 font-cw">
          Post Comment
        </button>
      </div>
    </div>
  </div>
</div>