<div class="grid grid-cols-2 w-636">
    <div class="grid col-span-2">
        <p class="font-bold font-cw text-cwGray text-28px34px pb-9">Discounts & Affiliations</p>
    </div>

    <!-- <div class="col-span-2"> -->
        <div class="">
            <p class="font-cw">AAA discount?</p>
        </div>
        <div class="flex items-center justify-end w-full pr-2 mb-10">
          <p class="pr-6 font-cw text-cwGray text-16px26px">No</p>
          <label for="toggleAAA" class="flex items-center cursor-pointer">
            <!-- toggle -->
            <div class="relative">
              <!-- input -->
              <input type="checkbox" id="toggleAAA" class="sr-only">
              <!-- line -->
              <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
              <!-- dot -->
              <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
            </div>
          </label>
        </div>
    <!-- </div> -->
   

    <div class="">
        <p class="font-cw">Military discount?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <label for="toggleMilitary" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" id="toggleMilitary" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
        </div>
      </label>
    </div>

    <div class="relative col-span-2 pb-10 f-outline">
        <select name="affiliation" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="affiliation" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Affiliation</label>
    </div>

    <div class="">
        <p class="font-cw">Members of ARVC?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <label for="toggleARVC" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" id="toggleARVC" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
        </div>
      </label>
    </div>

    <div class="relative col-span-2 pb-10 f-outline">
        <select name="stateProvAffiliation" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="stateProvAffiliation" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">State/Prov Affiliation</label>
      </div>

      <div class="">
        <p class="font-cw">Good Neighbor park?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <label for="toggleGoodNeighbor" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" id="toggleGoodNeighbor" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
        </div>
      </label>
    </div>

    <div class="relative col-span-2 pb-10 f-outline">
        <select name="goodNeighborParkNum" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="goodNeighborParkNum" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Good Neighbor park number</label>
      </div>

      <div class="">
        <p class="font-cw">Coast to Coast park?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <label for="toggleCoast" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" id="toggleCoast" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
        </div>
      </label>
    </div>

    <div class="relative col-span-2 pb-10 f-outline">
        <select name="coastToCoastMembershipNum" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option value="1">010 - Private Park</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <label for="coastToCoastMembershipNum" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Coast To Coast membership number</label>
      </div>
      
      

    <div class="flex flex-row col-span-2 pb-10">
        <div class="">
            <button class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
        </div>
        <div class="pl-6">
            <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
        </div>
        
    </div>
</div>