/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
}

.error-border {
    border-color: #C30B24;
}
.error-label {
    color: #C30B24;
}

/*long Text Input Fields Floating Form Label*/
.coast-coast input:focus-within ~ label,
.coast-coast input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-2.25rem) scaleX(0.75) scaleY(0.75);
}

.good-neighbor input:focus-within ~ label,
.good-neighbor input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.75rem) scaleX(0.75) scaleY(0.75);
}


/*Dropdown Select Fields Floating Form Label*/
select:focus ~ label,
select:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.4rem) scaleX(0.75) scaleY(0.75);
} 

/*State Province Field Floating Form Label*/
.State-Prov:focus ~ label,
.State-Prov:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1rem) scaleX(0.75) scaleY(0.75);
} 

