/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
}

/*Dropdown Select Fields Floating Form Label*/
select:focus ~ label,
select:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.4rem) scaleX(0.75) scaleY(0.75);
} 

/*State Province Field Floating Form Label*/
.State-Prov:focus ~ label,
.State-Prov:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1rem) scaleX(0.75) scaleY(0.75);
} 

/*Good Neighbor Field Floating Form Label*/
.Good-Neighbor:focus ~ label,
.Good-Neighbor:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1.45rem) scaleX(0.75) scaleY(0.75);
} 

/*Coast to Coast Field Floating Form Label*/
.Coast-Coast:focus ~ label,
.Coast-Coast:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1.9rem) scaleX(0.75) scaleY(0.75);
} 