<div class="w-full h-full border rounded rounded-t-none shadow ">
    <div class="flex justify-center px-3">
        <p class="pt-7.5 text-2xl font-bold text-center font-cw text-cwGray">Listings</p>
    </div>
    <div class="flex justify-center">
        <p class="text-center text-cwGray font-cw">321</p>
    </div>
    <div class="flex justify-between px-3 py-3 ">
        <p class="font-bold text-cwRed font-cw">Approved</p>
        <p class="font-bold font-cw text-cwGray">84</p>
        <p class="font-bold font-cw text-cwGray">26.2%</p>
    </div>
    <div class="flex justify-between px-3 py-1">
        <p class="text-cwRed font-cw">Opened</p>
        <p class="font-cw text-cwGray">235</p>
    </div>
    <div class="flex justify-between px-3 py-1">
        <p class="text-cwRed font-cw">Re-opened</p>
        <p class="font-cw text-cwGray">1</p>
    </div>
    <div class="flex justify-between px-3 py-1">
        <p class="text-cwRed font-cw">Rejected</p>
        <p class="font-cw text-cwGray">0</p>
    </div>
    <div class="flex justify-between px-3 py-1">
        <p class="text-cwRed font-cw">Submitted</p>
        <p class="font-cw text-cwGray">1</p>
    </div>
    <div class="flex justify-center pt-32">
        <button (click)="redirect()" data-cy="Submit" class="px-3 py-2 text-white bg-red-700 rounded font-cw">Create New</button>
    </div>
</div>