<div class="flex justify-center">
  <p class="pb-5 font-bold text-20px26px text-cwRed font-cw">Contract</p>
</div>

<div class="grid grid-cols-4 px-7.5" *ngFor="let ordersContract of ordersContracts">
    <p *ngIf="ordersContract.displayName === 'Entered in MSG'" class="col-span-2 pb-5 font-bold text-16px-26px whitespace-nowrap text-cwRed font-cw">{{ordersContract.displayName}}</p>
    <p *ngIf="ordersContract.displayName === 'Entered in MSG'" class="pb-5 pl-10 font-bold font-cw text-16px26px text-cwGray justify-self-center">{{ordersContract.count}}</p>
    <p *ngIf="ordersContract.displayName === 'Entered in MSG'" class="pb-5 font-bold text-16px26px font-cw text-cwGray justify-self-end">{{ordersContract.percentage}}%</p>
</div>

<div class="grid grid-cols-4 px-7.5" *ngFor="let ordersContract of ordersContracts | orderBy:'displayName'">
  <p *ngIf="ordersContract.displayName !== 'Entered in MSG'" class="col-span-2 pb-3 text-16px-26px whitespace-nowrap text-cwRed font-cw">{{ordersContract.displayName}}</p>
  <p *ngIf="ordersContract.displayName !== 'Entered in MSG'" class="pb-3 pl-10 font-cw text-16px26px text-cwGray justify-self-center">{{ordersContract.count}}</p>
  <p *ngIf="ordersContract.displayName !== 'Entered in MSG'" class="pb-3 text-16px26px font-cw text-cwGray justify-self-end">{{ordersContract.percentage}}%</p>
</div>