<div class="grid justify-between grid-cols-2">
    <div class="grid-cols-1 space-y-3 justify-items-start">
        <div class="flex flex-row items-center space-x-4">
            <p class="font-bold cw-font text-32px38px text-cwGray">{{ this.parkName }}</p>
            <img class="w-5 h-5" src="assets/images/proposals-ad summary.png" alt="ad">
            <img class="w-5 h-5" src="assets/images/comments.png" alt="comments">
        </div>
        <div class="flex space-x-1">
            <p class="cw-font text-cwGray text-14px24px">File # </p>
            <p class="font-bold cw-font text-cwGray text-14px24px">{{ this.fileNum }}</p>
        </div>
    </div>
    <div class="grid-cols-1 place-self-end ">
        <div class="flex items-center space-x-1.5 pb-1">
            <p class="">Good Sam Rating</p>
            <img class="w-5 h-5" src="assets/images/info-icon.png" alt="info-icon">
        </div>
        <div class="grid grid-cols-3 pb-2">
            <div class="">
                <p class="font-bold cw-font text-14px24px text-cwGray">O</p>
            </div>
            <div class="flex items-center">
                <p class="font-bold cw-font text-14px24px text-cwGray">O</p>
                <img class="w-5 h-5 pb-.75" src="assets/images/star.png" alt="star">
            </div>
            <div class="">
                <p class="font-bold cw-font text-14px24px text-cwGray">O</p>
            </div>
        </div>
        <div class="flex justify-end pb-2">
            <p class="font-medium cw-font text-cwRed text-14px24px">Rating history</p>
        </div>
        <div class="flex justify-end">
            <p class="font-medium cw-font text-cwRed text-14px24px">Submission history</p>
        </div>
    </div>
</div>