<div class="px-18 py-15">
    <create-listing-header></create-listing-header>
</div>
<div class="grid grid-cols-4 pb-36">
    <div class="col-span-1">
        <create-listing-nav></create-listing-nav>
    </div>
    <div class="col-span-2">
        <good-sam-record></good-sam-record>
    </div>
    <div class="flex flex-col col-span-1 space-y-6">
        <div class="">
            <protips></protips>
        </div>
        <div class="">
            <need-support></need-support>
        </div>
    </div>
</div>
<div class="flex flex-row items-center justify-end w-full h-24 pr-18 shadow-8px32px">
    <button class="w-48 bg-validate h-13">Validate & Submit</button>
</div>