<div class="px-18 py-15">
  <create-listing-header></create-listing-header>
</div>
<div class="grid grid-cols-4">
  <div class="col-span-1">
    <create-listing-nav></create-listing-nav>
  </div>
  <div class="col-span-2">
    <good-sam-record *ngIf="locationInfoStep === 'Good Sam Record ID'"></good-sam-record>
    <contact-info *ngIf="locationInfoStep === 'Contact Info'"></contact-info>
  </div>
  <div class="flex flex-col col-span-1 space-y-6">
    <div class="">
      <protips></protips>
    </div>
    <div class="">
      <need-support></need-support>
    </div>
  </div>
</div>