<div class="p-16">
    <p class="pb-8 font-bold font-cw text-cwGray text-32px38px">Recently Viewed Listings</p>
    <div class="grid grid-cols-6">
        <!-- <button> -->
        <div *ngFor="let item of data" class="w-48 border shadow-cw hover:w-52 hover:h-56 h-52 rounded-xl ">
            <div class="grid grid-cols-1 ">
                <p class="px-4 font-bold text-left font-cw text-18px24px text-cwGray pt-7">{{item.parkName}}</p>
                <p class="pl-4 text-cwGray text-14px24px font-cw">{{item.city}}, {{item.st}}</p>
                <p class="pl-4 pb-2.5 text-cwGray text-14px24px font-cw">File #: {{item.id}}</p>
                <div class="grid grid-cols-5 pl-4">
                    <img class="w-5 h-5" src="assets/images/listing.png" alt="listing">
                    <img class="w-5 h-5" src="assets/images/proposals-ad summary.png" alt="ad">
                    <img class="w-5 h-5" src="assets/images/comments.png" alt="comments">
                </div>
                
            </div>
            
        </div>
    <!-- </button> -->
    </div>
</div>
