<form [formGroup]="interiorRoadsSitesInfo">
    <div class="grid grid-cols-2 w-636">
        <div class="grid col-span-2 pb-14">
            <p class="font-bold font-cw text-cwGray text-28px34px">Interior Roads & Site Info</p>
        </div>
        <div class="flex col-span-2 pb-7.5">
            <p class="font-bold font-cw text-cwGray text-18px24px">Road Condition</p>
            <p class="pl-4 font-cw text-cwGray text-14px24px">Only Select one</p>
        </div>


        <div class="flex flex-row col-span-2 pb-10 space-x-4">
            <div class="relative">
                <input (click)="roadConditionRadioChecked('good')" class="hidden" id="goodRadio" type="radio" name="roadConditionRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="goodRadio">
                    <img *ngIf="roadConditionRadioGood" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Good</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="roadConditionRadioChecked('fair')" class="hidden" id="fairRadio" type="radio" name="roadConditionRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="fairRadio">
                    <img *ngIf="roadConditionRadioFair" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Fair</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="roadConditionRadioChecked('poor')" class="hidden" id="poorRadio" type="radio" name="roadConditionRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="poorRadio">
                    <img *ngIf="roadConditionRadioPoor" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold place-self-center top-16 font-cw">Poor</p>
                </label>
            </div>
        </div>

        <div class="relative col-span-2 pb-15 f-outline">
            <select name="interiorRoadType" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwBadgeGray focus:outline-none">
            <option value=""></option>
            <option value="1">010 - Private Park</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            </select>
            <label for="interiorRoadType" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Interior road type</label>
        </div>

        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Site Counts</p>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-11 long-label">
                <input type="text" name="totalSpaces" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-141 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="totalSpaces"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Total spaces</label>
            </div>
            <div class="relative pb-11 site-counts">
                <input type="text" name="numAvailable" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-141 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numAvailable"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># available</label>
            </div>
            <div class="relative pb-11 site-counts">
                <input type="text" name="numSeasonal" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-141 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numSeasonal"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># seasonal</label>
            </div>
    
            <div class="relative pb-11 site-counts">
                <input type="text" name="numPermanet" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-141 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numPermanet"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># permanent</label>
            </div>
        </div>

        <div class="pb-16">
            <p class="font-cw">Separate seasonal section?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-16">
            <p *ngIf="!separateSeasonalSection" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="separateSeasonalSection" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleSeasonal" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" (click)="checkBoxSeasonalChange(this);" id="toggleSeasonal" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Site Ground</p>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 f-outline">
                <input type="text" name="numPaved" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numPaved"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># paved</label>
            </div>
            <div class="relative pb-10 long-label">
                <input type="text" name="numAllWeather" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numAllWeather"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># all weather</label>
            </div>
            <div class="relative pb-10 f-outline">
                <input type="text" name="numGravel" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numGravel"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># gravel</label>
            </div>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-15 f-outline">
                <input type="text" name="numGrass" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numGrass"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># grass</label>
            </div>
            <div class="relative pb-15 shorter-label">
                <input type="text" name="numDirt" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numDirt"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># dirt</label>
            </div>
        </div>

        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Site Hookups</p>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-10 long-label">
                <input type="text" name="numFullHookups" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numFullHookups"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># full hookups</label>
            </div>
            <div class="relative pb-10 f-outline">
                <input type="text" name="numWater" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numWater"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># water</label>
            </div>
            <div class="relative pb-10 f-outline">
                <input type="text" name="numSewer" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numSewer"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># sewer</label>
            </div>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-15 f-outline">
                <input type="text" name="numElectric" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numElectric"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># electric</label>
            </div>
            <div class="relative pb-15 long-label">
                <input type="text" name="numNoHookups" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numNoHookups"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># no hookups</label>
            </div>
            <div class="relative col-span-2 pb-10 ">
                <select name="amps" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none amps w-196 h-13 border-cwBadgeGray focus:outline-none">
                <option value=""></option>
                <option value="1">010 - Private Park</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                </select>
                <label for="amps" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Amps</label>
            </div>
        </div>

        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Side by Side Hookups</p>
        </div>

        <div class="flex flex-row col-span-2 space-x-4 pb-11">
            <div class="relative">
                <input (click)="sideHookupsRadioChecked('most')" class="hidden" id="mostRadio" type="radio" name="sideHookupsRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="mostRadio">
                    <img *ngIf="sideHookupsRadioMost" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Most</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="sideHookupsRadioChecked('some')" class="hidden" id="someRadio" type="radio" name="sideHookupsRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="someRadio">
                    <img *ngIf="sideHookupsRadioSome" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Some</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="sideHookupsRadioChecked('none')" class="hidden" id="noneRadio" type="radio" name="sideHookupsRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="noneRadio">
                    <img *ngIf="sideHookupsRadioNone" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold place-self-center top-16 font-cw">None</p>
                </label>
            </div>
        </div>

        <div class="pb-11">
            <p class="font-cw">Big rig sites?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-11">
            <p *ngIf="!bigRigSite" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="bigRigSite" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleBigRig" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" (click)="checkBoxBigRigChange(this);" id="toggleBigRig" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>
        <div class="pb-11">
            <p class="font-cw">Accepts full hookup untis only?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-11">
            <p *ngIf="!fullHookupUnits" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="fullHookupUnits" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleFullHookup" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" (click)="checkBoxFullHookupChange(this);" id="toggleFullHookup" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>
        <div class="pb-16">
            <p class="font-cw">Accepts self contained untis only?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-16">
            <p *ngIf="!selfContainedUnits" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="selfContainedUnits" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleSelfContained" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" (click)="checkBoxSelfContainedChange(this);" id="toggleSelfContained" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>


        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Pull-thrus & Back-ins</p>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-5 longer-label">
                <input type="text" name="pullThruW" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="pullThruW"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Pull-thru width</label>
                <p class="pl-3 text-cwGray text-11px20px font-cw opacity-60">In feet</p>
            </div>
            <div class="relative pb-5 longer-label">
                <input type="text" name="pullThruL" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="pullThruL"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Pull-thru length</label>
                <p class="pl-3 text-cwGray text-11px20px font-cw opacity-60">In feet</p>
            </div>
            <div class="relative pb-10 longer-label">
                <input type="text" name="numOfPullThrus" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="numOfPullThrus"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5"># of pull-thrus</label>
            </div>
        </div>

        <div class="flex flex-row col-span-2 space-x-6">
            <div class="relative pb-6 longer-label">
                <input type="text" name="backInW" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="backInW"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Back-in width</label>
                <p class="pl-3 text-cwGray text-11px20px font-cw opacity-60">In feet</p>
            </div>
            <div class="relative pb-6 longer-label">
                <input type="text" name="backInL" placeholder=" "
                    class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
                <label for="backInL"
                    class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Back-in length</label>
                <p class="pl-3 text-cwGray text-11px20px font-cw opacity-60">In feet</p>
            </div>
        </div>

        <div class="pb-15">
            <p class="font-cw">Slide outs?</p>
        </div>

        <div class="flex items-center justify-end w-full pr-2 mb-15">
            <p *ngIf="!slideOuts" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
            <p *ngIf="slideOuts" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
            <label for="toggleSlideOuts" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                <!-- input -->
                <input  type="checkbox" (click)="checkBoxSlideOutsChange(this);" id="toggleSlideOuts" class="sr-only">
                <!-- line -->
                <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                <!-- dot -->
                <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                </div>
            </label>
        </div>

        <div class="flex col-span-2">
            <p class="font-bold font-cw text-cwGray text-18px24px pb-7.5">Shaded Sites</p>
        </div>

        <div class="flex flex-row col-span-2 pb-10 space-x-4">
            <div class="relative">
                <input (click)="shadedSitesRadioChecked('most')" class="hidden" id="shadedMostRadio" type="radio" name="shadedSitesRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="shadedMostRadio">
                    <img *ngIf="shadedSitesRadioMost" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Most</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="shadedSitesRadioChecked('some')" class="hidden" id="shadedSomeRadio" type="radio" name="shadedSitesRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="shadedSomeRadio">
                    <img *ngIf="shadedSitesRadioSome" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold text-center place-self-center top-16 font-cw">Some</p>
                </label>
            </div>
            <div class="relative">
                <input (click)="shadedSitesRadioChecked('none')" class="hidden" id="shadedNoneRadio" type="radio" name="shadedSitesRadio">
                <label class="flex flex-col cursor-pointer w-147 h-152 shadow-cw rounded-xl bg-navGray" for="shadedNoneRadio">
                    <img *ngIf="shadedSitesRadioNone" class="w-5 h-5 rounded" src="assets/images/active.png" alt="active">
                    <p class="absolute font-bold place-self-center top-16 font-cw">None</p>
                </label>
            </div>
        </div>

        <div class="flex flex-row col-span-2 pb-10">
            <div class="">
                <button class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
            </div>
            <div class="pl-6">
                <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
            </div>
        </div>

    </div>
</form>