<form [formGroup]="ownerAndB2bInfo" (ngSubmit)="onSubmit()">
  <h1 class="font-bold font-cw text-cwGray text-28px34px pb-7">Owner & BSB Info</h1>
  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="pb-10">
      <p class="text-gray-400 font-cw">New owner?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="!newOwner" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="newOwner" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="newOwner" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="newOwner" (click)="newOwnerChange(this);" id="newOwner"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>


  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="pb-10">
      <p class="text-gray-400 font-cw">Park for sale?</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="!parkForSale" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="parkForSale" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="parkForSale" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="parkForSale" (click)="parkForSaleChange(this);" id="parkForSale"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-6 w-636">
    <div class="relative pb-4 f-outline">
      <input formControlName="name" type="text" name="name" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="name" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Owner's name
      </label>
    </div>

    <div class="relative pb-4 f-outline">
      <select name="ownerGroup" value="" onclick="this.setAttribute('value', this.value);"
        class="block bg-gray-100 border-none rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let u of uniqueAccountsFromService" [value]="u.id">{{u.value}}</option>
      </select>
      <label for="ownerGroup" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Owner
        Group</label>
    </div>
  </div>
  <h2 class="mt-10 font-bold font-cw text-cwGray text-18px24px pb-7">Owner's Address</h2>
  <div formGroupName="mailingAddress" class="grid grid-cols-2 gap-6 w-636">
    <div class="relative pb-4 f-outline ">
      <input type="text" formControlName="address" name="address" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="address" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Address</label>
    </div>
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="city" name="city" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="city" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">City</label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="listStateId" name="listStateId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let l of listStatesFromService" [value]="l.id">{{l.name}}</option>
      </select>
      <label for="listStateId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">State
        Province</label>
    </div>
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="zip" name="zip" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="zip" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Zip / Postal Code
      </label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="countryId" name="countryId" value="" onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let c of countriesFromService" [value]="c.id">{{c.value}}</option>
      </select>
      <label for="countryId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Country</label>
    </div>
  </div>
  <h2 class="mt-10 font-bold font-cw text-cwGray text-18px24px pb-7">Owner's Contact Info</h2>
  <div class="grid grid-cols-1 gap-6 w-636">
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="email" name="email" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="email" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Owner's email
      </label>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="phone" name="phone" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="phone" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Owner's phone
      </label>
    </div>
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="adDecisionMaker" name="adDecisionMaker" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="adDecisionMaker" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Ad decision maker
      </label>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="relative pb-4 f-outline">
      <select formControlName="b2BCommEmailSourceId" name="b2BCommEmailSourceId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let b of b2bCommSourcesFromService" [value]="b.id">{{b.value}}</option>
      </select>
      <label for="b2BCommEmailSourceId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">B2B
        Comm
        Email
        Source</label>
    </div>
  </div>

  <div *ngIf="ownerAndB2bInfo.value.b2BCommEmailSourceId === '1'" class="grid grid-cols-1 gap-6 mt-5 w-636">
    <div class="relative pb-4 f-outline">
      <input [ngClass]="{'error-border': ownerEmailRequired || invalidEmail }" type="text"
        formControlName="b2BCommEmailIfOther" name="b2BCommEmailIfOther" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="b2BCommEmailIfOther" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Owner's email
      </label>
      <div *ngIf="ownerEmailRequired" class="pl-3 font-cw text-cwRed text-11px20px">* B2B Comm Email is required if
        Source
        is Other</div>
      <div *ngIf="invalidEmail" class="pl-3 font-cw text-cwRed text-11px20px">* Invalid email</div>
    </div>

  </div>

  <div class="grid grid-cols-1 gap-6 mt-6 w-636">
    <div class="relative pb-4 f-outline">
      <select formControlName="b2BCommMailSourceId" name="b2BCommMailSourceId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let b of b2bCommSourcesFromService" [value]="b.id">{{b.value}}</option>
      </select>
      <label for="sectionCode" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">B2B Comm Mail
        Source</label>
    </div>
  </div>

  <div *ngIf="ownerAndB2bInfo.value.b2BCommMailSourceId === '1'" formGroupName="otherMailingAddress"
    class="grid grid-cols-2 gap-6 mt-5 w-636">
    <div class="relative pb-4 f-outline ">
      <input type="text" formControlName="address" name="address" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="address" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Address</label>
    </div>
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="city" name="city" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="city" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">City</label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="listStateId" name="listStateId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let l of listStatesFromService" [value]="l.id">{{l.name}}</option>
      </select>
      <label for="listStateId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">State
        Province</label>
    </div>
    <div class="relative pb-4 f-outline">
      <input type="text" formControlName="zip" name="zip" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="zip" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">
        Zip / Postal Code
      </label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="countryId" name="countryId" value="" onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let c of countriesFromService" [value]="c.id">{{c.value}}</option>
      </select>
      <label for="countryId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Country</label>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 mt-6 w-636">
    <div class="relative pb-4 f-outline">
      <select formControlName="objectionReasonId" name="objectionReasonId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let a of advertisingObjectionsFromService" [value]="a.id">{{a.value}}</option>
      </select>
      <label for="objectionReasonId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Objections
        to
        advertising</label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="droppedAffiliationReasonId" name="droppedAffiliationReasonId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let d of droppedAffiliationFromService" [value]="d.id">{{d.value}}</option>
      </select>
      <label for="droppedAffiliationReasonId"
        class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Reason for
        dropping Good Sam affiliation</label>
    </div>
    <div class="relative pb-4 f-outline">
      <select formControlName="uniqueAccountId" name="uniqueAccountId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-gray-100 border-none rounded appearance-none w-636 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let u of uniqueAccountsFromService" [value]="u.id">{{u.value}}</option>
      </select>
      <label for="uniqueAccountId" class="absolute pointer-events-none pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Unique
        Account</label>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="flex flex-row col-span-2 pb-10 mt-5">
    <div class="">
      <button type="button" (click)="clearChanges()"
        class="font-medium border rounded font-cw text-cwGray h-13 w-44 border-cwGray">Clear
        Changes</button>
    </div>
    <div class="pl-6">
      <button type="submit" class="text-white rounded bg-cwRed font-cw h-13 w-44">Save & Continue</button>
    </div>
  </div>
</form>