<form [formGroup]="contactInfoForm" (ngSubmit)="onSubmit()">
  <h1 class="font-bold font-cw text-cwGray text-28px34px pb-11">Contact Info</h1>

  <!-- Mailing Address -->
  <h2 class="font-bold font-cw text-cwGray text-18px24px pb-7">Mailing Address</h2>
  <div class="grid grid-cols-2 gap-6 w-636">
    <div class="relative z-0 pb-4 ">
      <input [ngClass]="{'error-border': submitted && f.address.errors }" type="text" formControlName="address"
        name="address" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="address" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Address</label>

      <div *ngIf="submitted && f.address.errors" class="pl-3 font-cw text-cwRed text-11px20px">Address is
        required
      </div>

    </div>
    <div class="relative z-0 pb-4">
      <input [ngClass]="{'error-border': submitted && f.city.errors }" type="text" formControlName="city" name="city"
        placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="city" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">City</label>
      <div *ngIf="submitted && f.city.errors" class="pl-3 font-cw text-cwRed text-11px20px">City is
        required
      </div>
    </div>
    <div class="relative z-0 pb-4">
      <select [ngClass]="{'error-border': submitted && f.listStateId.errors }" formControlName="listStateId"
        name="listStateId" placeholder=" " value="" onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let l of listStatesFromService" [ngValue]="l.id">{{l.name}}</option>
      </select>
      <label for="listStateId" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">State / Province</label>
      <div *ngIf="submitted && f.listStateId.errors" class="pl-3 font-cw text-cwRed text-11px20px">State is
        required
      </div>

    </div>
    <div class="relative z-0 pb-4">
      <input type="text" formControlName="zip" name="zip" placeholder=" "
        [ngClass]="{'error-border': submitted && f.zip.errors }" class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="zip" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Zip / Postal Code
      </label>

      <div *ngIf="submitted && f.zip.errors" class="pl-3 font-cw text-cwRed text-11px20px">Zip code
        is required.
      </div>

    </div>
    <div class="relative z-0 pb-4">
      <select [ngClass]="{'error-border': submitted && f.countryId.errors }" formControlName="countryId" value=""
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let c of countriesFromService" [ngValue]="c.id">{{c.value}}</option>
      </select>
      <label for="countryId" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Country</label>
      <div *ngIf="submitted && f.countryId.errors" class="pl-3 font-cw text-cwRed text-11px20px">Country
        is required.
      </div>
    </div>
  </div>


  <!-- Physical Address -->


  <h2 class="pb-5 font-bold font-cw text-cwGray text-18px24px mt-11">Physical Address</h2>
  <h3 class="pb-7">
    <p class='font-cw'>
      <input (change)="changeIsSameAsMailingAdrress()" type="checkbox" style="margin-top: -2px;"
        class="mr-4 border-2 rounded-sm text-cwRed form-checkbox border-cwLightGray " />Same as
      Mailing
      Address
    </p>
  </h3>
  <div *ngIf="!isSameAsMailingAddress">
    <div class="grid grid-cols-2 gap-6 mt-2 w-636">
      <div class="relative z-0 pb-4 ">
        <input [ngClass]="{'error-border': submitted && f.physicalAddress.errors }" type="text"
          formControlName="physicalAddress" name="physicalAddress" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
        <label for="physicalAddress"
          class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Address</label>

        <div *ngIf="submitted && f.physicalAddress.errors" class="pl-3 font-cw text-cwRed text-11px20px">Address is
          required
        </div>

      </div>
      <div class="relative z-0 pb-4">
        <input [ngClass]="{'error-border': submitted && f.physicalCity.errors }" type="text"
          formControlName="physicalCity" name="physicalCity" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
        <label for="physicalCity" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">City</label>
        <div *ngIf="submitted && f.physicalCity.errors" class="pl-3 font-cw text-cwRed text-11px20px">City is
          required
        </div>
      </div>
      <div class="relative z-0 pb-4">
        <select [ngClass]="{'error-border': submitted && f.physicalListStateId.errors }"
          formControlName="physicalListStateId" name="physicalListStateId" placeholder=" " value=""
          onclick="this.setAttribute('value', this.value);"
          class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option *ngFor="let l of listStatesFromService" [ngValue]="l.id">{{l.name}}</option>
        </select>
        <label for="physicalListStateId" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">State / Province</label>
        <div *ngIf="submitted && f.physicalListStateId.errors" class="pl-3 font-cw text-cwRed text-11px20px">State is
          required
        </div>

      </div>
      <div class="relative z-0 pb-4">
        <input type="text" formControlName="physicalZip" name="physicalZip" placeholder=" "
          [ngClass]="{'error-border': submitted && f.physicalZip.errors }" class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
        <label for="physicalZip" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
          Zip / Postal Code
        </label>

        <div *ngIf="submitted && f.physicalZip.errors" class="pl-3 font-cw text-cwRed text-11px20px">Zip code
          is required.
        </div>

      </div>
      <div class="relative z-0 pb-4">
        <select [ngClass]="{'error-border': submitted && f.physicalCountryId.errors }"
          formControlName="physicalCountryId" value="" onclick="this.setAttribute('value', this.value);"
          class="block bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none">
          <option value=""></option>
          <option *ngFor="let c of countriesFromService" [ngValue]="c.id">{{c.value}}</option>
        </select>
        <label for="physicalCountryId"
          class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Country</label>
        <div *ngIf="submitted && f.physicalCountryId.errors" class="pl-3 font-cw text-cwRed text-11px20px">Country
          is required.
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-6 mt-6 w-636">
      <div class="relative z-0 pb-4 ">
        <input [ngClass]="{'error-border': submitted && f.latitude.errors }" type="text" formControlName="latitude"
          name="latitude" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwGray focus:outline-none" />
        <label for="latitude" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Latitude</label>
        <div *ngIf="submitted && f.latitude.errors">
          <div *ngIf="f.latitude.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Latitude
            is required.
          </div>
          <div *ngIf="f.latitude.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Invalid latitude value
          </div>
        </div>
      </div>
      <div class="relative z-0 pb-4">
        <input [ngClass]="{'error-border': submitted && f.longitude.errors }" type=" text" formControlName="longitude"
          name="longitude" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwGray focus:outline-none" />
        <label for="longitude"
          class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">Longitude</label>
        <div *ngIf="submitted && f.longitude.errors">
          <div *ngIf="f.longitude.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Longitude
            is required.
          </div>
          <div *ngIf="f.longitude.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Invalid longitude value
          </div>
        </div>
      </div>

      <div class="relative z-0 pb-4">
        <input [ngClass]="{'error-border': submitted && f.elevation.errors }" type="text" formControlName="elevation"
          name="elevation" placeholder=" "
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwGray focus:outline-none" />
        <label for="elevation" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
          Elevation
        </label>
        <div *ngIf="f.elevation.errors" class="pl-3 font-cw text-cwRed text-11px20px">Elevation must be greater than
          2,500 ft.
        </div>
        <span #elseBlock class="ml-3 text-sm text-gray-400">If greater than 2,500 ft.</span>

      </div>
    </div>
  </div>

  <!-- Contact Info -->


  <h2 class="mt-5 font-bold font-cw text-cwGray text-18px24px pb-7">Contact Info</h2>

  <div class="grid grid-cols-1 gap-6 w-636">
    <div class="relative z-0 pb-4">
      <input [ngClass]="{'error-border': submitted && f.email.errors }" type="text" formControlName="email" name="email"
        placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="emailAddress" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Email Address
      </label>
      <div *ngIf="submitted && f.email.errors" class="pl-3 font-cw text-cwRed text-11px20px">
        You must enter a valid email address
      </div>
      <span class="ml-3 text-sm text-gray-400">Published</span>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="relative z-0 pb-4">
      <input type="text" formControlName="telephone" name="telephone" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="telephone" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Phone Number
      </label>
      <span class="ml-3 text-sm text-gray-400">Published</span>
    </div>
    <div class="relative z-0 pb-4">
      <input type="text" [ngClass]="{'error-border': samePhone }" formControlName="repressedTelephone"
        name="repressedTelephone" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-306 h-13 border-cwGray focus:outline-none" />
      <label for="repressedTelephone" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Phone Number
      </label>
      <span class="ml-3 text-sm text-gray-400">Private</span>
      <div *ngIf="samePhone" class="pl-3 font-cw text-cwRed text-11px20px">Private number can't be the same as published
        number
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 mt-6 w-636">
    <div class="relative z-0 pb-5">
      <input [ngClass]="{'error-border': submitted && f.webAddress.errors }" type="text" formControlName="webAddress"
        name="webAddress" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="webAddress" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Web address for print
      </label>
      <div *ngIf="f.webAddress.errors" class="pl-3 font-cw text-cwRed text-11px20px">Must be a valid URL
      </div>
    </div>

  </div>
  <div class="relative z-0 pb-4">
    <input [ngClass]="{'error-border': submitted && f.onlineWeb.errors }" type="text" formControlName="onlineWeb"
      name="onlineWeb" placeholder=" "
      class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
    <label for="onlineWeb" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
      Online web address
    </label>
    <div *ngIf="f.onlineWeb.errors" class="pl-3 font-cw text-cwRed text-11px20px">Must be a valid URL
    </div>

  </div>


  <!-- Office Use only -->


  <h2 class="mt-5 font-bold text-gray-400 font-cw text-18px24px">Office Use Only</h2>

  <div class="grid grid-cols-2 gap-6 mt-6 w-636">
    <div class="pb-10">
      <p class="text-gray-400 font-cw">Do not add UTM</p>
    </div>
    <div class="flex items-center justify-end w-full pr-2 mb-10">
      <p *ngIf="!isUTMChecked" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="isUTMChecked" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="toggleUTM" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="skipUtm" (click)="checkBoxUTMChange(this);" id="toggleUTM"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 w-636" style="margin-top: -10px;">
    <div class="relative z-0 pb-5">
      <input [ngClass]="{'error-border': submitted && f.facebook.errors }" type="text" formControlName="facebook"
        name="facebook" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="facebook" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Facebook
      </label>
      <div *ngIf="f.facebook.errors" class="pl-3 font-cw text-cwRed text-11px20px">Must be a valid URL
      </div>
    </div>
    <div class="relative z-0 pb-4">
      <input [ngClass]="{'error-border': submitted && f.facebook.errors }" type="text" formControlName="twitter"
        name="twitter" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="twitter" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Twitter
      </label>
      <div *ngIf="f.twitter.errors" class="pl-3 font-cw text-cwRed text-11px20px">Must contain no spaces
      </div>
    </div>
    <div class="relative z-0 pb-4">
      <input type="text" formControlName="pinterest" name="pinterest" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="pinterest" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Pinterest
      </label>
    </div>
    <div class="relative z-0 pb-4">
      <input type="text" formControlName="instagram" name="instagram" placeholder=" "
        class="block px-3 bg-transparent border rounded appearance-none w-636 h-13 border-cwGray focus:outline-none" />
      <label for="instagram" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack">
        Instagram
      </label>
    </div>
  </div>


  <!-- Action Buttons -->

  <div class="flex flex-row col-span-2 pb-10 mt-5">
    <div class="">
      <button type="button" (click)="clearChanges()"
        class="font-medium border rounded font-cw text-cwGray h-13 w-44 border-cwGray">Clear
        Changes</button>
    </div>
    <div class="pl-6">
      <button type="submit" class="text-white rounded bg-cwRed font-cw h-13 w-44">Save &
        Continue</button>
    </div>
  </div>

</form>