<div class="flex justify-center h-screen bg-opacity-25 bg-cwBg">
    <div class="grid-cols-1">
        <div class="py-8">
            <p class="font-bold text-center text-32px38px font-cw text-cwGray">New Listing</p>
        </div>
        <div class="grid-cols-1 bg-white rounded-lg shadow-cw px-110 w-636 h-454">
            <form>
                <div class="pb-6 pt-15">
                    <p class="text-2xl font-bold font-cw text-cwGray">New Listing Info</p>
                </div>
                
                <div class="relative pb-6 f-outline">
                  <select name="sectionCode" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-416 h-13 border-cwGray focus:outline-none">
                    <option value=""></option>
                    <option value="1">010 - Private Park</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                  </select>
                  <label for="sectionCode" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Section Code</label>
                </div>

                <!-- <div class="relative pb-6 f-outline">
                  <select name="parkType" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-416 h-13 border-cwGray focus:outline-none">
                    <option value=""></option>
                    <option value="1">010 - Private Park</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                  </select>
                  <label for="parkType" class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Park Type</label>
                </div> -->

                <div class="relative pb-6 f-outline">
                  <input type="text" name="repName" placeholder=" "
                      class="block px-3 bg-transparent border rounded appearance-none w-416 h-13 border-cwGray focus:outline-none" />
                  <label for="repName"
                      class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Rep name</label>
                </div>
        
                <div class="relative pb-6 f-outline">
                  <input type="text" name="parkName" placeholder=" "
                      class="block px-3 bg-transparent border rounded appearance-none w-416 h-13 border-cwGray focus:outline-none" />
                  <label for="parkName"
                      class="absolute pt-2.5 pl-3 duration-300 font-lato text-formBlack top-1.5">Park name</label>
                </div>
                  
                <div class="">
                    <button class="text-white rounded bg-cwRed hover:opacity-80 w-200 h-13 font-cw">Create Listing</button>
                </div>
                
            </form>
        </div>
    </div>
</div>