<div class="flex justify-center h-screen bg-opacity-25 bg-cwBg">
    <div class="grid-cols-1">
        <div class="py-8">
            <p class="font-bold text-center text-32px38px font-cw text-cwGray">New Listing</p>
        </div>
        <div class="grid-cols-1 bg-white rounded-lg shadow-cw px-110 w-636 h-454">
            <form>
                <div class="pb-6 pt-15">
                    <p class="text-2xl font-bold font-cw text-cwGray">New Listing Info</p>
                </div>
                
                  <div class="relative z-0 pb-6">
                    <select name="select" value="" class="block bg-transparent border appearance-none w-416 h-13 border-cwGray">
                      <option value=""></option>
                      <option value="1">010 - Private Park</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                      <option value="4">Option 4</option>
                      <option value="5">Option 5</option>
                    </select>
                    <label for="select" class="absolute pt-2 pl-3 text-base duration-300 font-lato text-formBlack top-4 -z-1 origin-0">Evaluation type</label>
                  </div>

                  <div class="relative z-0 pb-6">
                    <input type="text" name="repName" placeholder=" " class="block bg-transparent border appearance-none w-416 h-13 border-cwGray"/>
                    <label for="repName" class="absolute pt-2 pl-3 text-base duration-300 font-lato text-formBlack top-4 -z-1 origin-0">Rep name</label>
                  </div>
        
                  <div class="relative z-0 pb-6">
                    <input type="text" name="parkName" placeholder=" " class="block bg-transparent border appearance-none w-416 h-13 border-cwGray"/>
                    <label for="parkName" class="absolute pt-2 pl-3 text-base duration-300 font-lato text-formBlack top-4 -z-1 origin-0">Park name</label>
                </div>
                  
                <div class="">
                    <button class="text-white rounded bg-cwRed hover:opacity-80 w-200 h-13 font-cw">Create Listing</button>
                </div>
                
            </form>
        </div>
    </div>
</div>