/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
    opacity: 50%;
}

input:checked + label {
	border-color: #C30B24;
    border-width: 3px;
    height: 152px;
    width: 147x;
}

/*default Text Input Fields Floating Form Label*/
.f-outline input:focus-within ~ label,
.f-outline input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.45rem) scaleX(0.75) scaleY(0.75);
}

/*shorter Text Input Fields Floating Form Label*/
.shorter-label input:focus-within ~ label,
.shorter-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.35rem) scaleX(0.75) scaleY(0.75);
}

/*long Text Input Fields Floating Form Label*/
.long-label input:focus-within ~ label,
.long-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.7rem) scaleX(0.75) scaleY(0.75);
}

/*long Text Input Fields Floating Form Label*/
.site-counts input:focus-within ~ label,
.site-counts input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.6rem) scaleX(0.75) scaleY(0.75);
}

/*longer Text Input Fields Floating Form Label*/
.longer-label input:focus-within ~ label,
.longer-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.8rem) scaleX(0.75) scaleY(0.75);
}

/*Dropdown Select Fields Floating Form Label*/
select:focus ~ label,
select:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1rem) scaleX(0.75) scaleY(0.75);
} 

/*Dropdown Amps Floating Form Label*/
.amps:focus ~ label,
.amps:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-.25rem) scaleX(0.75) scaleY(0.75);
} 