/*Toggle Radio Button*/
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .block {
    background-color: #C30B24;
    opacity: 50%;
}

input:checked + label {
	border-color: #C30B24;
    border-width: 3px;
    height: 152px;
    width: 147x;
}

/*long Text Input Fields Floating Form Label*/
.short-label input:focus-within ~ label,
.short-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.8rem) scaleX(0.75) scaleY(0.75);
}

.long-label input:focus-within ~ label,
.long-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-.9rem) scaleX(0.75) scaleY(0.75);
}

/*Text Input Fields Floating Form Label*/
.longer-label input:focus-within ~ label,
.longer-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1rem) scaleX(0.75) scaleY(0.75);
}

/*Text Input Fields Floating Form Label*/
.longest-label input:focus-within ~ label,
.longest-label input:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) translatex(-1.1rem) scaleX(0.75) scaleY(0.75);
}

/*Dropdown Select Fields Floating Form Label*/
select:focus ~ label,
select:not([value='']):valid ~ label {
    transform: translateY(-1rem) translatex(-1.2rem) scaleX(0.75) scaleY(0.75);
} 