<div class="pt-10 px-15">
  <h1 class="text-32px38px font-cw text-cwGray font-bold">All Listings</h1>
  <div class="mt-5 fl flex space-x-6">
    <input (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-4/12 h-13"
      placeholder="File #, name, or list city (contains)" />
    <select (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-1/6 h-13">
      <option>Status</option>
      <option>open</option>
    </select>
    <select (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-98 h-13">
      <option>State</option>
      <option>OH</option>
    </select>
    <button type="submit"
      class="px-6 py-4.5 w-30 h-13 text-16px16px text-white rounded-md bg-cwRed hover:opacity-80 font-cw">
      Search
    </button>
  </div>
  <h3 class="mt-10 text-16px26px font-cw text-cwGray font-bold">10 matching orders</h3>
  <div class="border shadow-cw rounded-xl mt-9">
    <div class="grid grid-cols-12 pt-6">
      <p class="text-12px16px font-cw text-cwRed font-bold">Status</p>
      <p class="text-12px16px font-cw text-cwRed font-bold">Date</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">File #</p>
      <p class="text-12px16px font-cw text-cwRed font-bold">Name</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">LS</p>
      <p class="text-12px16px font-cw text-cwRed font-bold">List City</p>
      <p class="text-12px16px font-cw text-cwRed font-bold">Listing Type</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">SC</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">TS</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">N/R</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">AD</p>
      <p class="text-12px16px font-cw text-cwGray font-bold">DE</p>
    </div>
    <div *ngFor="let order of orders" class="grid grid-cols-12 pt-6">
      <p class="text-12px16px font-cw text-cwRed">{{order.status}}</p>
      <p class="text-12px16px font-cw text-cwRed">{{order.date}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.fileNumber}}</p>
      <p class="text-12px16px font-cw text-cwRed">{{order.name}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.state.code}}</p>
      <p class="text-12px16px font-cw text-cwRed">{{order.city}}</p>
      <p class="text-12px16px font-cw text-cwRed">{{order.listingType.value}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.sectionCode}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.territory.code}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.newRenew}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.cdAdv}}</p>
      <p class="text-12px16px font-cw text-cwGray">{{order.delete}}</p>
    </div>
  </div>
  <p><a routerLink="/ad-summary">Advertising Summary</a></p>
</div>