<div class="pt-10 px-15">
  <h1 class="text-32px38px font-cw text-cwGray font-bold">All Listings</h1>
  <div class="mt-5 fl flex space-x-6">
    <input (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-80 h-13"
      placeholder="File #, name, or list city (contains)" />
    <select (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-1/6 h-13">
      <option>Status</option>
      <option>open</option>
    </select>
    <select (change)="onChange()"
      class="pl-3 bg-white border rounded border-cwBadgeGray font-cw text-16px26px text-cwGray w-98 h-13">
      <option>State</option>
      <option>OH</option>
    </select>
    <button type="submit"
      class="px-6 py-4.5 w-30 h-13 text-16px16px text-white rounded-md bg-cwRed hover:opacity-80 font-cw">
      Search
    </button>
  </div>
  <h3 class="mt-10 text-16px26px font-cw text-cwGray font-bold">10 matching orders</h3>
  <div class="border shadow-cw rounded-xl mt-9">

    <table class="w-full rounded">
      <thead>
        <tr class="flex-1 text-left">
          <th class="text-12px16px font-cw text-cwRed p-5 font-bold">Status</th>
          <th class="text-12px16px font-cw text-cwRed  font-bold">Date</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">File #</th>
          <th class="text-12px16px flex-grow font-cw text-cwRed font-bold">Name</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">LS</th>
          <th class="text-12px16px font-cw text-cwRed font-bold">List City</th>
          <th class="text-12px16px font-cw text-cwRed font-bold">Listing Type</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">SC</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">TS</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">N/R</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">AD</th>
          <th class="text-12px16px font-cw text-cwGray font-bold">DE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders"
          [ngClass]="order.background === 'gray' ? 'bg-proposalsGray backdrop-opacity-50' : ''"
          class="flex-1 text-left">
          <td class="text-12px16px font-cw text-cwRed p-5">{{order.status}}</td>
          <td class="text-12px16px font-cw text-cwRed">{{order.date}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.fileNumber}}</td>
          <td class="text-12px16px flex-grow font-cw text-cwRed">{{order.name}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.state.code}}</td>
          <td class="text-12px16px font-cw text-cwRed">{{order.city}}</td>
          <td class="text-12px16px font-cw text-cwRed">{{order.listingType.value}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.sectionCode}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.territory.code}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.newRenew}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.cdAdv}}</td>
          <td class="text-12px16px font-cw text-cwGray">{{order.delete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>