<form [formGroup]="restroomForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-2 w-636">
    <div class="grid col-span-2 pb-10">
      <p class="font-bold font-cw text-cwGray text-28px34px">Restrooms</p>
    </div>

    <div class="pb-11">
      <p class="font-cw">Pit toilets only?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 mb-11">
      <p *ngIf="!pitToiletsOnly" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="pitToiletsOnly" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="pitToilets" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="pitToilets" (click)="checkBoxPitToiletsChange(this);"
            id="pitToilets" class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>

    <div class="relative z-0 col-span-2">
      <select (change)="onChange($event)" formControlName="restroomShowerId" name="restroomShowerId"
        value="" [ngClass]="{'error-border': submitted && f.restroomShowerId.errors }"
        onclick="this.setAttribute('value', this.value);"
        class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwBadgeGray focus:outline-none">
        <option value=""></option>
        <option *ngFor="let r of restroomsShowersFromService" [ngValue]="r.id">{{r.value}}</option>
      </select>
      <label for="restroomShowerId" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
        [ngClass]="{'error-label': submitted && f.restroomShowerId.errors }">Restrooms/showers</label>
      <div *ngIf="submitted && f.restroomShowerId.errors">
        <div *ngIf="f.restroomShowerId.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please make
          a selection.</div>
      </div>
    </div>

    <div *ngIf="restroomsAndShowers || restrooms" class="flex flex-row col-span-2 pt-10 space-x-6">
      <div class="relative z-0">
        <input type="text" formControlName="numberToiletsMen" name="numberToiletsMen" placeholder=" "
          [ngClass]="{'error-border': submitted && f.numberToiletsMen.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberToiletsMen" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberToiletsMen.errors}"># Toilets - men</label>

        <div *ngIf="submitted && f.numberToiletsMen.errors">
          <div *ngIf="f.numberToiletsMen.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a
            value.</div>
        </div>
        <div *ngIf="submitted && f.numberToiletsMen.errors">
          <div *ngIf="f.numberToiletsMen.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid
            number.</div>
        </div>
      </div>
      <div class="relative">
        <input type="text" formControlName="numberToiletsWomen" name="numberToiletsWomen" placeholder=" "
          [ngClass]="{'error-border': submitted && f.numberToiletsWomen.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberToiletsWomen" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberToiletsWomen.errors}"># Toilets - women</label>

        <div *ngIf="submitted && f.numberToiletsWomen.errors">
          <div *ngIf="f.numberToiletsWomen.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a
            value.</div>
        </div>
        <div *ngIf="submitted && f.numberToiletsWomen.errors">
          <div *ngIf="f.numberToiletsWomen.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a
            valid number.</div>
        </div>
      </div>
      <div class="relative z-0">
        <input type="text" formControlName="numberToiletsUnisex" name="numberToiletsUnisex" placeholder=" "
          [ngClass]="{'error-border': submitted && f.numberToiletsUnisex.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberToiletsUnisex" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberToiletsUnisex.errors}"># Toilets - unisex</label>

        <div *ngIf="submitted && f.numberToiletsUnisex.errors">
          <div *ngIf="f.numberToiletsUnisex.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a
            value.</div>
        </div>
        <div *ngIf="submitted && f.numberToiletsUnisex.errors">
          <div *ngIf="f.numberToiletsUnisex.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid
            number.</div>
        </div>
      </div>
    </div>

    <div *ngIf="restroomsAndShowers || showers" class="flex flex-row col-span-2 pt-10 space-x-6">
      <div class="relative z-0">
        <input type="text" formControlName="numberShowersMen" name="numberShowersMen" placeholder=" "
          [ngClass]="{'error-border': submitted && f.numberShowersMen.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberShowersMen" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberShowersMen.errors}"># showers - men</label>

        <div *ngIf="submitted && f.numberShowersMen.errors">
          <div *ngIf="f.numberShowersMen.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a
            value.</div>
        </div>
        <div *ngIf="submitted && f.numberShowersMen.errors">
          <div *ngIf="f.numberShowersMen.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid
            number.</div>
        </div>
      </div>
      <div class="relative z-0">
        <input type="text" formControlName="numberShowersWomen" name="numberShowersWomen" placeholder=" "
          [ngClass]="{'error-border': submitted && f.numberShowersWomen.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberShowersWomen" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberShowersWomen.errors}"># showers - women</label>

        <div *ngIf="submitted && f.numberShowersWomen.errors">
          <div *ngIf="f.numberShowersWomen.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a value.</div>
        </div>
        <div *ngIf="submitted && f.numberShowersWomen.errors">
          <div *ngIf="f.numberShowersWomen.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid number.</div>
        </div>
      </div>
      <div class="relative z-0">
        <input type="text" formControlName="numberShowersUnisex" name="numberShowersUnisex" placeholder=" " [ngClass]="{'error-border': submitted && f.numberShowersUnisex.errors}"
          class="block px-3 bg-transparent border rounded appearance-none w-196 h-13 border-cwBadgeGray focus:outline-none" />
        <label for="numberShowersUnisex" class="absolute pl-3 pt-2.5 duration-300 pointer-events-none top-1.5 -z-1 origin-0 font-cw text-16px26px text-formBlack"
          [ngClass]="{'error-label': submitted && f.numberShowersUnisex.errors}"># showers - unisex</label>

        <div *ngIf="submitted && f.numberShowersUnisex.errors">
          <div *ngIf="f.numberShowersUnisex.errors.required" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a value.</div>
        </div>
        <div *ngIf="submitted && f.numberShowersUnisex.errors">
          <div *ngIf="f.numberShowersUnisex.errors.pattern" class="pl-3 font-cw text-cwRed text-11px20px">Please enter a valid number.</div>
        </div>
      </div>
    </div>

    <div class="py-11">
      <p class="font-cw">RR & showers paid?</p>
    </div>

    <div class="flex items-center justify-end w-full pr-2 my-11">
      <p *ngIf="!restroomsShowersPaid" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
      <p *ngIf="restroomsShowersPaid" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
      <label for="restroomsShowerPaid" class="flex items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" formControlName="restroomsShowerPaid" (click)="checkBoxPaidChange(this);" id="restroomsShowerPaid"
            class="sr-only">
          <!-- line -->
          <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
          <!-- dot -->
          <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1">
          </div>
        </div>
      </label>
    </div>

    <div class="flex flex-row col-span-2 pb-10">
      <div class="">
        <button type="button" data='Clear' (click)="clearChanges()"
          class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear
          Changes</button>
      </div>
      <div class="pl-6">
        <button data='Submit' class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save &
          Continue</button>
      </div>
    </div>
  </div>
</form>