<div class="grid grid-cols-3 xl:h-20 lg:h-0 bg-navGray lg:invisible xl:visible">
    <div class="flex items-center justify-start pl-6">
      <img src="/assets/images/capture-logo.png" alt="capture-logo" class="object-contain w-116 h-6.5">
    </div>
  
    <div class="flex place-self-center w-636">
      <input class="h-10 text-sm text-gray-700 w-584" id="search" type="text" placeholder="Search by file number">
      <div class="">
        <button class="flex flex-row items-center justify-center h-10 text-white bg-cwRed w-13">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
      </div>
    </div>
  
      <div class="grid grid-cols-1">
        <div class="flex items-end justify-end pr-6">
          <p class="text-xs font-cw">Hello, Rachel</p>
        </div>
        <div class="flex justify-end pr-6">
          <button class="text-xs font-bold font-cw">
            <span class="flex">
              My Account <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </span>
          </button>
        </div>
      </div>
  
    </div>
  <div class="lg:invisible xl:visible xl:h-13.5 lg:h-0 border-b border-cwGray border-opacity-20">
    <ul class="flex justify-center py-4 text-xs font-semibold space-x-15 font-cw">
      <li class=""><a routerLink="./all-listing">Listings</a></li>
      <li class="">Orders</li>
      <li class="">Product Details</li>
      <li class="">My Unique Accounts</li>
      <li class="">Ad Emails</li>
    </ul>
  </div>