<form [formGroup]="ratingsForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 w-636">
        <div class="grid col-span-2 pb-9">
            <p class="font-bold font-cw text-cwGray text-28px34px">Ratings</p>
        </div>

        <div class="flex col-span-2">
            <div class="w-3/4 pb-11">
                <p class="font-cw">Can this park be rated?</p>
            </div>
            <div class="flex items-center justify-end w-1/4 pr-2 mb-10">
                <p *ngIf="!canParkBeRated" class="pr-6 font-cw text-cwGray text-16px26px">No</p>
                <p *ngIf="canParkBeRated" class="pr-6 font-cw text-cwGray text-16px26px">Yes</p>
                <label for="toggleCanParkBeRated" class="flex items-center cursor-pointer">
                    <!-- toggle -->
                    <div class="relative">
                    <!-- input -->
                    <input  type="checkbox" formControlName="toggleCanParkBeRated" (click)="checkBoxCanParkBeRatedChange(this);" id="toggleCanParkBeRated" class="sr-only">
                    <!-- line -->
                    <div class="block h-8 bg-white border rounded-full border-cwBadgeGray w-14"></div>
                    <!-- dot -->
                    <div class="absolute w-6 h-6 transition bg-white border rounded-full border-cwBadgeGray dot left-1 top-1"></div>
                    </div>
                </label>
            </div>
        </div>

        <div *ngIf="!canParkBeRated" class="relative col-span-2 pb-10 f-outline">
            <select name="nonRatedCode" formControlName="nonRatedCode" value="" onclick="this.setAttribute('value', this.value);" class="block bg-transparent border rounded appearance-none w-636 h-13 border-cwBadgeGray focus:outline-none">
            <option value=""></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            </select>
            <label for="nonRatedCode" class="absolute pt-2.5 pl-3 duration-300 font-cw text-formBlack top-1.5">Non-rated code</label>
        </div>

        <div *ngIf="canParkBeRated" class="">
            <div class="flex flex-row items-center border-t-2 justify-left w-636 h-21">
                <button (click)='facilitiesToggle()' class="font-cw text-cwGray w-636">
                    <div class="grid grid-cols-6">
                        <p class="col-span-5 font-bold justify-self-start">Facilities</p>
                        <img *ngIf="!unHideFacilities" class="self-center w-9.31 h-5.49 justify-self-end" src="/assets/images/down-arrow.png" alt="down-arrow">
                        <img *ngIf="unHideFacilities" class="self-center w-9.31 h-5.49 justify-self-end" src="/assets/images/up-arrow.png" alt="up-arrow">
                    </div>
                </button>
            </div>
            <div *ngIf="unHideFacilities" class="grid grid-cols-5 w-636">
                <div class="flex flex-row items-center col-span-2 space-x-3">
                    <p class="font-cw text-cwGray text-14px24px">Interior Roads</p>
                    <img class="self-center w-4 h-4 justify-self-end" src="/assets/images/info-icon.png" alt="info-icon">
                </div>
                <div class="flex flex-row items-center col-span-3">
                    
                </div>
            </div> 
        </div>

        <div class="flex flex-row col-span-2 pb-10">
            <div class="">
                <button class="font-medium border rounded hover:opacity-80 font-cw text-cwGray h-13 w-44 border-cwGray">Clear Changes</button>
            </div>
            <div class="pl-6">
                <button class="text-white rounded hover:opacity-80 bg-cwRed font-cw h-13 w-44">Save & Continue</button>
            </div>
        </div>
    </div>
</form>